<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
    
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="/css/management/lectureList.css">
</head>
<body>
<header th:include="fragments/header.html"></header>
    <div class="listContainer">
        <div class="content">
            <div class="listTitle">
                <h1>강의목록</h1>
            </div>
            <div class="searchArea">
                <select name="condition" id="condition">
                    <option value="title" selected>강의명</option>
                    <option value="classification">강좌분류</option>
                    <option value="target">강좌대상</option>
                </select>
                <input type="text" placeholder="검색할 내용을 입력해주세요.">
                <a href="#" id="searchIcon"></a>
                <input type="button" value="강의등록" id="registBtn" onclick="location.href='/lectureregist'">
            </div>
            <div class="listArea">
                <table>
                    <tbody>
                        <tr>
                            <td>6</td>
                            <td>정기강좌</td>
                            <td>성인강좌</td>
                            <td>도자기 아트 화이트</td>
                            <td><a href="#"><img src="images/management/edit.png"></a></td>
                            <td><a href="#"><img src="images/management/delete.png"></a></td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>단기강좌</td>
                            <td>영유아강좌</td>
                            <td>김장김치 만들기 강의요~</td>
                            <td><a href="#"><img src="images/management/edit.png"></a></td>
                            <td><a href="#"><img src="images/management/delete.png"></a></td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>정기강좌</td>
                            <td>영유아강좌</td>
                            <td>강의제목입니다~</td>
                            <td><a href="#"><img src="images/management/edit.png"></a></td>
                            <td><a href="#"><img src="images/management/delete.png"></a></td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>정기강좌</td>
                            <td>성인강좌</td>
                            <td>도자기 아트 화이트</td>
                            <td><a href="#"><img src="images/management/edit.png"></a></td>
                            <td><a href="#"><img src="images/management/delete.png"></a></td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>단기강좌</td>
                            <td>영유아강좌</td>
                            <td>김장김치 만들기 강의요~</td>
                            <td><a href="#"><img src="images/management/edit.png"></a></td>
                            <td><a href="#"><img src="images/management/delete.png"></a></td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>정기강좌</td>
                            <td>영유아강좌</td>
                            <td>강의제목입니다~</td>
                            <td><a href="#"><img src="images/management/edit.png"></a></td>
                            <td><a href="#"><img src="images/management/delete.png"></a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <footer th:include="fragments/footer.html"></footer>
    <script>
    	
    </script>
</body>
</html>