<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
    
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="/css/management/lectureList.css">
	
<script>
const msg = '[[${msg}]]';

if(msg){
	alert(msg);
}

</script>
	
	
</head>
<body>
<header th:include="fragments/header.html"></header>
    <div class="listContainer">
        <div class="content">
            <div class="listTitle">
                <h1>강의목록</h1>
            </div>
            <div class="searchArea">
                <select name="condition" id="condition">
                    <option value="title" selected>강의명</option>
                    <option value="classification">강좌분류</option>
                    <option value="target">강좌대상</option>
                </select>
                <input type="text" placeholder="검색할 내용을 입력해주세요.">
                <a href="#" id="searchIcon"></a>
                <input type="button" value="강의등록" id="registBtn" onclick="location.href='/lectureregist'">
            </div>
            <div class="listArea">
                <table>
                    <tbody>
                        <tr th:each="lecture : ${lectureList}">
                            <td th:text="${lecture.lNo}"></td>
                            <td th:text="${lecture.lcName}"></td>
                            <td th:text="${lecture.ltName}"></td>
                            <td th:text="${lecture.lTitle}"></td>
                            <td><a href="#" th:onclick="|editLecture('${lecture.lNo}')|"><img src="images/management/edit.png"></a></td>
                            <td><a href="#" th:onclick="|deleteLecture('${lecture.lNo}')|"><img src="images/management/delete.png"></a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="pagingArea">
	           	<ul class="list_paging">
				        <!--  맨 처음으로 (<<) /notice/noticeList/?-->
		        	<li><a th:href="@{?page=1}">&lt;&lt;</a></li>
		        	
		        <!--  이전 페이지(<) -->
			       	<li th:if="${ pi.page > 1 }">
			       		<a th:href="@{?page={page}(page =  ${pi.page-1})}">&lt;</a>
			       	</li>
			       	<li th:unless="${ pi.page > 1 }">
			       		<a th:href="@{?page={page}(page =  ${pi.page})}">&lt;</a>
			       	</li>
		       	
		        <!-- 페이지수 -->	
		        	<th:block th:with="start=${pi.startPage}, end=${pi.endPage}">
		        		<li th:with="start=${pi.startPage}, end=${pi.endPage}" th:each="pageNum : ${#numbers.sequence(start,end)}">
		        			<a th:href="@{?page={page}(page = ${ pageNum})}" th:text=${pageNum}></a>
		        		</li>
		        	</th:block>
		        		
		        <!-- 다음 페이지로(>) -->	
			        <li th:if="${ pi.page <pi.maxPage }">
			       		<a th:href="@{?page={page}(page=${pi.page + 1})}">&gt;</a>
			       	</li>
			       	<li th:if="${ pi.page == pi.maxPage }">
			       		<a th:href="@{?page={page}(page =  ${pi.page})}">&gt;</a>
			       	</li>
		        
		        <!-- 맨 뒤로(>>) --> 	
		        	<li><a th:href="@{?page={page} (page = ${pi.maxPage})}">&gt;&gt;</a></li>
		        	
		        </ul>
		       
		    </div>
        </div>
    </div>
    <footer th:include="fragments/footer.html"></footer>
    <script type="text/javascript" th:inline="javascript">
    	
    	function editLecture(lNo){
    		
    		location.href="lectureupdate/" + lNo;	
    	}
    	
    	function deleteLecture(lNo){
    		
    		if(confirm("정말삭제하시겠습니까?")){
    			
    			location.href="lecturedelete/" + lNo;
    			
    		} else{
    			console.log("삭제취소");
    		}
    	}
    </script>
</body>
</html>