<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">

    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/management/openRegist.css">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>


    <link rel="stylesheet" href="js/openRegist/jqx.base.css" type="text/css" />
    <script type="text/javascript" src="js/openRegist/jqxcore.js"></script>
    <script type="text/javascript" src="js/openRegist/jqxdraw.js"></script>
    <script type="text/javascript" src="js/openRegist/jqxtimepicker.js"></script>


    <script type="text/javascript">
        
        


        $(document).ready(function ()
        {

            $("#jqxTimePicker").jqxTimePicker({
                width: 200,
                height: 300,
                format: "24-hour"
            });
            $("#jqxTimePicker").on("change", function (event)
            {
                var args = event.args;
                var newDate = args.value;
                var setDate = new Date(newDate);
                
                var setHours = setDate.getHours();
                var setMinutes = setDate.getMinutes();
                
                setHours = ("0"+ setHours).slice(-2);
                setMinutes = ("0"+ setMinutes).slice(-2);
                
                $("#hiddenTime").val(setHours + ":" + setMinutes);
            });


            $("#startBtn, #endBtn").click(setTime);

            function setTime() {
                
                let checkTime = $("#hiddenTime").val();
                let checkStart = $("#lrStartTime").val();
                
                if(checkTime == ""){
                	
                	alert("시간을 선택해주세요.");
                	return;
                }
                
                
                if(this.id == "startBtn"){
                    if(confirm(checkTime + "로 수강 시작 시간을 설정하시겠습니까?")){
                        $("#lrStartTime").val(checkTime);
                    }
                    
                } else{
                    if(confirm(checkTime + "로 수강 종료 시간을 설정하시겠습니까?")){
                        $("#lrEndTime").val(checkTime);
                    }
                }
            }

        });
    </script>
	
</head>
<body>
<header th:include="fragments/header.html"></header>
    <div class="listContainer">
        <div class="content">
            <div class="titleArea">
                <h1>강의 오픈</h1>
            </div>
            <div class="contentArea">
            <form th:action="@{/openserver}" method="post">
            <input type="hidden" name="lNo">
            <input type="hidden" name="instructorNo">
            	<div class="selectArea1">
                    <input type="text" value="본사" readonly>
                    <input type="button" id="lectureBtn" value="강의를 선택해 주세요">
                    <div class="timePickerArea"><div id="jqxTimePicker"></div></div>
                </div>
                <div class="selectArea1">
                    <input type="number" name="lrCapacity" min="1" placeholder="정원을 입력해 주세요" required>
                    <input type="number" name="lrFee" min="0" placeholder="수강료를 입력해 주세요" required>
                </div>
                <div class="selectArea1">
                    <input type="text" class="lectureDate dateSelector" id="lrStartDate" name="lrStartDate" placeholder="수강기간 시작일을 선택해 주세요" required>
                    <input type="text" class="lectureDate dateSelector" id="lrEndDate" name="lrEndDate" placeholder="수강기간 종료일을 선택해 주세요" required>
                </div>
                <div class="selectArea1">
                    <input type="text" class="lectureTime" id="lrStartTime" name="lrStartTime" placeholder="수강 시작 시간" required>
                    <button type="button" id="startBtn">시간설정</button>
                    <input type="text" class="lectureTime" id="lrEndTime" name="lrEndTime" placeholder="수강 종료 시간" required>
                    <button type="button" id="endBtn">시간설정</button>
                    <input type="hidden" id="hiddenTime">
                </div>
                <div class="selectArea1">
                    <select name="lrDay" id="lrDay">
                        <option value="" selected>요일을 선택해 주세요</option>
                        <option value="월요일">매주 월요일</option>
                        <option value="화요일">매주 화요일</option>
                        <option value="수요일">매주 수요일</option>
                        <option value="목요일">매주 목요일</option>
                        <option value="금요일">매주 금요일</option>
                        <option value="토요일">매주 토요일</option>
                        <option value="일요일">매주 일요일</option>
                    </select>
                    <input type="number" name="lrNumber" placeholder="강의 횟수를 입력해 주세요" required>
                </div>
                <div class="selectArea1">
                    <input type="button" id="instructorBtn" value="강사를 선택해 주세요">
                </div>
                
                <div class="btnArea">
                    <input type="submit" value="오픈하기">
                </div>
            </form>
                
            </div>
        </div>
    </div>
    <div class="modal" id="modalInstructor">
        <div class="modalWindow">
            <div class="listArea" id="instructorArea">

            </div>
            <div class="btnArea">
                <button type="button" id="modalInstructorBtn">선택하기</button>
            </div>
        </div>
    </div>
    <div class="modal" id="modalLecture">
        <div class="modalWindow">
            <div class="listArea" id="listArea">
            </div>
            <div class="btnArea">
                <button type="button" id="modalLectureBtn">선택하기</button>
            </div>
        </div>
    </div>
<footer th:include="fragments/footer.html"></footer>
<script>

    var dateSelector = $('.dateSelector');
    dateSelector.flatpickr({

        dateFormat: "Y-m-d",
        minDate:"today",
        maxDate: new Date().fp_incr(120)

        });



    var body = document.body,
    html = document.documentElement;
    
    $("#modalLectureBtn").click(function(){
    	
    	
    	$("input[name='lNo']").val($("input[name='lecture']:checked").val());
    	
    	$("#lectureBtn").val($("input[name='lecture']:checked").next().next().text());    	
    	$("#lectureBtn").css("background-color", "red");
    	$("#lectureBtn").css("color", "white");
    	$(".modal").fadeOut();
    });
    
    
	$("#modalInstructorBtn").click(function(){
		
		$("input[name='instructorNo']").val($("input[name='instructor']:checked").val());
		
    	$("#instructorBtn").val($("input[name='instructor']:checked").next().next().text());
    	$("#instructorBtn").css("background-color", "red");
    	$("#instructorBtn").css("color", "white");
    	$(".modal").fadeOut();
    });
    
    
    
    
    $("#instructorBtn").click(function(){
        var height = Math.max( body.scrollHeight, body.offsetHeight, 
                       html.clientHeight, html.scrollHeight, html.offsetHeight );

        $("#modalInstructor").height(height);
        $("#modalInstructor").fadeIn();
        
        var param = {};
        
		param.startDate = $("#lrStartDate").val();
		param.endDate = $("#lrEndDate").val();
		param.day = $("#lrDay").val();
		param.startTime = $("#lrStartTime").val();
		param.endTime = $("#lrEndTime").val();

        
		$.ajax({
			
			url : "/modal/instructor",
			type : "post",
			data : JSON.stringify(param),
			dataType : "json",
			contentType : "application/json; charset=UTF-8", // 서버로 송신할 데이터 타입
			success : function(data){
				
				console.log(data);
				
				let html = "<ul>";
				
				for(let index in data){
					
					html += "<li><input type='radio' name='instructor' value='" + data[index].instructorNo + "'>"
						  /* + "<img src='images/upload/" + data[index].profilePhoto + "' alt='thumbnail'>" */
						  + "<img src='#' alt='thumbnail'>"
						  + "<span>" + data[index].instructorName + "</span></li>"
				}
				
				html += "</ul>";
				
				$("#instructorArea").html(html);
				
				
			},
			error : function(request,status,error){
				
				console.log(e);
			}
		});
        
        
    });

    $(".modal").click(function(e){
        if(e.target.classList.contains("modal")){
            $(".modal").fadeOut();
        }
    });

    $("#lectureBtn").click(function(){
        var height = Math.max( body.scrollHeight, body.offsetHeight, 
                       html.clientHeight, html.scrollHeight, html.offsetHeight );

        $("#modalLecture").height(height);
        $("#modalLecture").fadeIn();
        
		$.ajax({
			
			url : "/modal/lecture",
			type : "get",
			dataType : "json",
			success : function(data){
				console.log(data);
				console.log(data[0].ltitle);
				
				
				let html = "<ul>";
		
				for(let index in data){
					
					html += "<li><input type='radio' name='lecture' value='" + data[index].lno + "'>"
						  + "<img src='images/upload/" + data[index].lthumbnail + "' alt='thumbnail'>"
						  + "<span>" + data[index].ltitle + "</span></li>"
				}
				
				html += "</ul>";
				
				$("#listArea").html(html);
				
			},
			error : function(request,status,error){
				
				console.log(e);
			}
		});
    });

</script>

</body>
</html>