<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.khculture.book.model.dao.BookMapper">
	<select id="selectBookByCategory" parameterType="string" resultType="com.kh.khculture.book.model.vo.Book">
		select
		id
		, title
		, author
		, publisher
		, category
		from tbl_book
		where category = #{category}
	</select>
	<insert id="insertBook" parameterType="com.kh.khculture.book.model.vo.Book">
		insert into tbl_book
		(
			id
			, title
			, author
			, publisher
			, category
		)
		values 
		(
			seq_id.nextval
			, #{title}
			, #{author}
			, #{publisher}
			, #{category}
		)
	</insert>
	<select id="selectBookByid" parameterType="_int" resultType="com.kh.khculture.book.model.vo.Book">
		select
		id
		, title
		, author
		, publisher
		, category
		from tbl_book
		where id = #{id}
	</select>
	<update id="updateBook" parameterType="com.kh.khculture.book.model.vo.Book">
		update tbl_book
		set title = #{title},
		author = #{author},
		publisher = #{publisher},
		category = #{category}
		where id = #{id}	
	</update>
	<delete id="deleteBook" parameterType="_int">
		delete from tbl_book
		where id = #{id}
	</delete>
</mapper>