<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.khculture.main.model.dao.MainMapper">
	<resultMap type="com.kh.khculture.lecture.model.vo.LectureOpen" id="selectListResultMap">
		<id property="lrNo" column="lr_no"></id>
		<result property="lrCapacity" column="lr_capacity"></result>
		<result property="lrCount" column="LR_COUNT"></result>
		<result property="lrFee" column="LR_FEE"></result>
		<result property="lrStartDate" column="LR_START_DATE"></result>
		<result property="lrEndDate" column="LR_END_DATE"></result>
		<result property="lrNumber" column="LR_NUMBER"></result>
		<result property="lrDay" column="LR_DAY"></result>
		<result property="lrStartTime" column="LR_START_TIME"></result>
		<result property="lrEndTime" column="LR_END_TIME"></result>
		<association property="lecture" resultMap="lectureResultMap"/>
		<association property="instructor" resultMap="instructorResultMap"/>
	</resultMap>
	<resultMap type="com.kh.khculture.lecture.model.vo.Lecture" id="lectureResultMap">
		<id property="lNo" column="l_no"></id>
		<result property="lTitle" column="l_title"></result>
		<result property="lContent" column="l_content"></result>
		<result property="lThumbnail" column="l_thumbnail"></result>
		<result property="lcNo" column="LC_NO"></result>
		<result property="ltNo" column="lT_NO"></result>
	</resultMap>
	<resultMap type="com.kh.khculture.lecture.model.vo.Instructor" id="instructorResultMap">
		<id property="instructorNo" column="INSTRUCTOR_NO"></id>
		<result property="instructorName" column="INSTRUCTOR_NAME"></result>
		<result property="profilePhoto" column="PROFILE_PHOTO"></result>
		<result property="birthDate" column="BIRTH_DATE"></result>
		<result property="instructorPhone" column="INSTRUCTOR_PHONE"></result>
		<result property="career" column="CAREER"></result>
	</resultMap>
	
	<resultMap type="com.kh.khculture.main.model.vo.MainImage" id="mainImageResultMap">
		<id property="miNo" column="MI_NO"/>
		<result property="mno" column="M_NO"/>
		<result property="miRoute" column="MI_ROUTE"/>
		<result property="miOrigin" column="MI_ORIGIN"/>
		<result property="miRename" column="MI_RENAME"/>
		<result property="refNo" column="REF_NO"/>
		<result property="miStatus" column="MI_STATUS"/>
	</resultMap>
	
	<select id="selectRecommendList" parameterType="com.kh.khculture.lecture.model.vo.Search" resultMap="selectListResultMap">
		SELECT * 
		  FROM (
		    SELECT ROWNUM RNUM, A.*
		      FROM (
		            SELECT * 
		              FROM LECTURE_REGISTRATION
		              JOIN LECTURE USING (L_NO)
		              JOIN INSTRUCTOR USING (INSTRUCTOR_NO)
		            WHERE LR_STATUS = 'N'
		              AND LR_START_DATE >= SYSDATE
		              AND LR_COUNT &lt; LR_CAPACITY
		            ORDER BY LR_START_DATE ASC, LR_COUNT DESC) A )
		WHERE RNUM &lt;= 8
	</select>	

	<select id="selectAllMainImage" resultMap="mainImageResultMap">
		SELECT
				*
		  FROM MAIN_IMAGE
		 WHERE MI_STATUS = 'Y'
	</select>
</mapper>