<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>mypageMain</title>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link href="/css/mypage/memberModify.css" rel="stylesheet"> 

</head>
<header th:include="fragments/header.html"></header>
<body>
   	<div class="titleArea">
		<h1>회원정보변경</h1>
    </div>
    <form class="modifyForm" th:action="@{/member/modify}" method="post">
        <table class="ModifyTable">
            <tr>
                <th>아이디</th>
                <td><span th:text="${member.id}"></span></td>
            </tr>
            <tr>
                <th>비밀번호</th>
                <td><input type="password" name="password" placeholder="현재 비밀번호 확인 후 수정 가능합니다">
                	<input type="button" class="modifyBtn" value="비밀번호 확인"></td>
            <tr>
                <th>이름</th>
                <td><span th:text="${member.name}"></span></td>
            </tr>
            <tr>
                <th>전화번호</th>
                <td><input type="text" maxlength="11" name="phone" placeholder="' - ' 제외한 전화번호를 입력해주세요" th:value="${member.phone}" required>
                    <button id="sendAuth" type="button" class="sendAuth">인증코드 전송</button></td>
            </tr>
            <tr>
                <th rowspan="2">인증번호 입력</th>
                <td colspan="2"><input type="text" name="authCode" id="inputAuthCode" maxlength="10" disabled>
                    <button onclick="authCodeCheck()" id="authCodeCheckBtn" type="button" disabled class="btnChk">인증코드 확인</button>
                    <input type="hidden" name="authPass" id="authPass" value="false"></td>
            </tr>
            <tr>                
                <td>* 인증번호가 도착하는데 1~2분 정도 소요될 수 있습니다.</td>                	
            </tr>
            <tr>
            	<th>이메일</th>
            	<td><input type="text" maxlength="50" name="email" id="inputEmail" placeholder="kh@khculture.kr 형식으로 입력해주세요" th:value="${member.email}" >
            	<span id="emailVerify"></span></td>
            </tr>
            <tr>
                <th>우편번호</th>
                <td><input type="text" name="address" class="postcodify_postcode5" readonly>
                    <button id="postcodify_search_button" type="button">우편번호 검색</button></td>
            </tr>
            <tr>
                <th>도로명주소</th>
                <td><input type="text" name="address" class="postcodify_address" readonly></td>
            </tr>
            <tr>
                <th>상세주소</th>
                <td><input type="text" name="address" class="postcodify_details"></td>
            </tr>
            <tr>
                <th>비밀번호 힌트</th>
                <td>
                    <select aria-placeholder="비밀번호 힌트에 대한 질문을 선택하세요" name="hintNo" id="hintNo">
                        <!-- 옵션은 DB에서 가져오기 -->
                    </select>
                </td>
            </tr>
            <tr>
                <th>비밀번호 힌트 답</th>
                <td><input type="text" maxlength="15" name="hintA" placeholder="비밀번호 힌트에 대한 답을 입력하세요(2자 이상)" th:value="${member.hintA}" required>
                <span id="hintAVerify"></span></td>
            </tr>
        </table>
    </form>
    <div class="Modify_button">
        <span><input type="button" value="취소" class="cancel" onclick="location.href='/mypage/mypagemain'"></span>
        <span><input type="button" value="수정" class="accUpdate" onclick="accUpdate();"></span>
        <span><input type="button" value="탈퇴" class="accSecession" onclick="accSecession();"></span>
    </div>
        

<footer th:include="fragments/footer.html"></footer>
<script type="text/javascript" src="/js/mypage/memberModify.js"></script>
<script>
	var msg = '[[${msg}]]';
	if(msg) {
		alert(msg);
	}
	
    $(document).ready(function(){
	    var address = '[[${member.address}]]'.split(',');
	    // console.log(address);
    	$("[name=address]").each((index) => {
    		$("[name=address]").eq(index).val(address[index]);
    	});
    });
</script>
</body>
</html>