<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>myhistory</title>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link href="../../static/css/mypage/mypage.css" rel="stylesheet">
</head>
<header id="inputHeader"></header>
<body>
    <div class="titleArea">
        <h1 align="center">수강내역</h1>
    </div>
    <form action="" method="" >
        <div class="my_history">
            <div id="my_history1">
                <img src="../../static/images/mypage/043.png">
                <div>dd</div>
                <div>dd</div>
                <div>dd</div>
            </div>
            
            <div id="my_history1">
                <img src="../../static/images/mypage/043.png">
                <div>dd</div>
                <div>dd</div>
                <div>dd</div>
                <div>dd</div>
            </div>
            
            <div id="my_history1">
                <img src="../../static/images/mypage/043.png">
                <div>dd</div>
            </div>
            
            <div id="my_history1">
                <img src="../../static/images/mypage/043.png">
                <div>dd</div>
                <div>dd</div>
            </div>
            
            <div id="my_history1">
                <img src="../../static/images/mypage/star.png">
                <div>dd</div>
            </div>
            <div id="my_history1">
                <img src="../../static/images/mypage/043.png">
                <div>dd</div>
                <div>dd</div>
                <div>dd</div>
            </div>
          
        </div>
    </form>

    <div class="my_paging">페이징처리 구간</div>
    <footer id="inputFooter"></footer>
    <script>
        $(document).ready(function(){
            $("#inputHeader").load("../common/header.html");
            $("#inputFooter").load("../common/footer.html");
        });
    </script>
</body>
</html>