<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<title>boardList</title>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link href="/css/mypage/board.css" rel="stylesheet">
</head>
<header th:include="fragments/header.html"></header>
<body>
    
    <div class="titleArea">
    <h1 align="center">수강후기</h1>
    </div>
    <div class="board_ranking">
        <div id="board_ranking_1">
            <img src="/images/mypage/043.png" >
        </div>
        <div id="board_ranking_1">
            <img src="/images/mypage/039.png" >
        </div>
        <div id="board_ranking_1">
            <img src="/images/mypage/037.png" >
        </div>
    </div>
   <div class="board_search_area">
	   <form method="get" action="board/boardList">
		    	<span>
		            <select id="searchType">
		            	<option value="lecture">강의이름</option>
		            	<option value="title">제목</option>
		            	<option value="content">내용</option>
		            </select>
		        </span>
		        <span>
		            <input type="search" name="searchValue" id="board_searchText" placeholder="검색어를 입력해주세요">
		      	</span>
		        
			        <button type="submit" id="board_list_button" >검색하기</button>
		    	
	    </form>
	    <form method="get" action="/board/insert">	
	    	
	   			<input type="hidden" name="user_name">
	    		<button type="submit" id="board_list_button" >작성하기</button>
	    	
		</form>    		
	</div>
    <div class="board_list">
        <div class="board_select" th:each=" b : ${ boardList }">
            <span id="board_no" th:text="${ b.b_no }"></span> 
            <span id="board_comment">
            <!-- b_modiry_date가 있으면 그걸로 없으면 b_enroll_date로  -->
                <div th:text="${ b.b_enroll_date }"> </div>
                <div>강의이름</div>
                <div>후기 제목</div>
            </span>
            <span>
            	 <img src="/images/mypage/star.png" id="board_star">
            	 <div id="board_star" th:text="${b.b_star}"></div>
            	 
            </span>
            <span>
            	<div th:text="b.b_count">조회수</div>
            </span>
        </div>
    </div>

        <div class="board_paging_area">
        	<ul class="board_paging">  
        	
	        	<li><a th:href="@{?page=1}">&lt;&lt;</a></li>
		    
		       	<li th:if="${ pi.page > 1 }">
		       		<a th:href="@{?page={page}(page =  ${pi.page-1})}">&lt;</a>
		       	</li>
		       	<li th:unless="${ pi.page > 1 }">
		       		<a th:href="@{?page={page}(page =  ${pi.page})}">&lt;</a>
		       	</li>
	       	
	
	        	<th:block th:with="start=${pi.startPage}, end=${pi.endPage}">
	        		<li th:with="start=${pi.startPage}, end=${pi.endPage}" th:each="pageNum : ${#numbers.sequence(start,end)}">
	        			<a th:href="@{/board/boardList/?page={page}(page = ${ pageNum})}" th:text=${pageNum}></a>
	        		</li>
	        	</th:block>
	        		
		        <li th:if="${ pi.page < maxPage }">
		       		<a th:href="@{?page={page}(page =  ${pi.page+1})}">&gt;</a>
		       	</li>
		       	<li th:unless="${ pi.page == maxPage }">
		       		<a th:href="@{?page={page}(page =  ${pi.page})}">&gt;</a>
		       	</li>
	        
	        	<li><a th:href="@{?page={page} (page = ${pi.maxPage})}">&gt;&gt;</a></li>
	        	
	        </ul>
	        
	        
	   </div>
    
     <footer th:include="fragments/footer.html"></footer>
    <script>
        $(document).ready(function(){
            $("#inputHeader").load("../common/header.html");
            $("#inputFooter").load("../common/footer.html");
        });
    </script>
</body>
</html>