<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>boardUpdate</title>
<link href="../../static/css/mypage/board.css" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<header id="inputHeader"></header>
<body>
   <div class="titleArea">
    <h1 align="center">등록하기</h1>
    </div>
    <div class="board_Update_boundary">
        <form>
            <div id="Lname"> 
                <span id="Lname2">강좌명 : </span>
                <input type="text" name="Lname" id="board_Update3">

                <span><img src="../../static/images/mypage/star.png" id="board_star"></span>
                <span><img src="../../static/images/mypage/star.png" id="board_star"></span>
                <span><img src="../../static/images/mypage/star.png" id="board_star"></span>
                <span><img src="../../static/images/mypage/star.png" id="board_star"></span>
                <span><img src="../../static/images/mypage/star.png" id="board_star"></span>
            </div>
            
            <div id="Ltitle">
                <span id="Ltitle2">제목 : </span>
                <input type="text" name="Ltitle" id="board_Update3">
            </div>
            <div id="Limage">
                <span id="Limage2">이미지첨부 : </span>
                <input type="file" name="Limage" id="board_Update">
            </div>
            <div id="Lcomment">
                <div id="Lcomment2">내용 : </div>
                <input type="text" name="Lcomment" id="board_Update2">
            </div>
            <div align="center" style="margin-top: 20px;margin-bottom: 20px;padding-bottom: 20px;">
                <span><input type="button" value="등록하기" class="button"></span>
                <input type="button" value="취소하기" class="button" style="background-color: darkolivegreen;">
            </div>
        </form>
    </div>
    <footer id="inputFooter"></footer>
    <script>
        $(document).ready(function(){
            $("#inputHeader").load("../common/header.html");
            $("#inputFooter").load("../common/footer.html");
        });
    </script>
</body>
</html>