/* =================================================== boardList =========================== */
#header .headerArea {
    width: 1000px;
    margin: 0 auto;
    padding: 36px 90px 0;
    height: 95px;
    position: relative;
    background-color: antiquewhite;
}
.headerArea{
    display: flex;
}
ul, li{
    display: flex;
    list-style: none;
    margin-left: 100px;
    margin-top: 20px;
}
#header{
    margin-bottom: 100px;
}

.notice_search {
    text-align: center;
    width: 800px;
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 20px 10px;
    background-color: antiquewhite;
    border-bottom: 2px solid black;
}


#notice_choice{
    width: 160px;
    height: 30px;
}
#notice_comment{
    width: 400px;
    height: 30px;
}
#notice_button{
    width: 60px;
    height: 30px;
}

.notice_list > .notice_select{
    width: 800px;
    text-align: center;
    margin: 0 auto;
    background-color: antiquewhite;
    display: flex;
    padding: 10px;
    border-bottom: 1px solid #a12020;
    height: 40px;
}
.notice_select > span{
    margin-top: 8px;
    margin-left: 20px;
}
#notice_comment2{
    text-align: left;
    width: 550px;
    background-color: aquamarine;
}
.notice_paging{
    text-align: center;
    width: 800px;
    margin: 0 auto;
    margin-top: 10px;
    background-color: antiquewhite;
}
/* =================================================== boardDetatil =========================== */