<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>noticeList</title>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link href="/css/mypage/notice.css" rel="stylesheet">

</head>
<header th:include="fragments/header.html"></header>
<body>
    <div class="titleArea">
        <h1 align="center">공지사항</h1>
    </div>

    <div class="notice_search">

        <form id="notice_form">
            <span class="notice_choice">
            <select id="notice_choice">
                <option value="notice">공지사항</option>
                <option value="notice">알립니다</option>
            </select>
            </span>
            <span>
                <input type="text" name="notice_search_comment" id="notice_searchText">
            </span>
            <input type="button" value="검색" id="notice_button" class="button">
            <!-- 관리자에게만 활성화 -->
            <input type="button" value="작성하기" id="notice_regist" class="button">
        </form>
        
    </div>

    <div class="notice_list">
      
        <div class="notice_select" th:each="n : ${ noticeList }" >
            <span id="notice_no" th:text="${n.n_no}"></span> 
            <span id="notice_category">공지사항</span>
            <span id="notice_comment" th:text="${n.n_title}"></span>
            <span id="notice_create" th:text="${n.n_enroll_date}" ></span>
        </div>
        
     <!--  
     <table>
        <tr class="notice_select" th:each="noticeList : ${ noticeList }">
           <td id="notice_no" th:text="${noticeList.n_no}"></td> 
           <td id="notice_category">공지사항</td>
           <td id="notice_comment" th:text="${noticeList.n_title}"></td>
           <td id="notice_create" th:text="${noticeList.n_enroll_date}" ></td>
       </tr>
     </table>  
     -->
      <div class="notice_area">
        <ul class="notice_paging">  
        <!--  맨 처음으로 (<<) -->
        	<li><a th:href="@{/?page=1}">&lt;&lt;</a></li>
        	
        <!--  이전 페이지(<) -->	
        	<li><a th:href="@{?page={page}(page = ${pi.page-1})}">&lt;</a></li>
        	
        <!-- 페이지수 -->	
        	<th:block th:with="start=${pi.startPage}, end=${pi.endPage}">
	        	<th:block th:each="pageNum :${#numbers.sequence(start,end)}" th:if ="${pageNum == pi.page}">
	        		<li> <a th:text="${pageNum}"></a></li>
	        	</th:block>
	        	<th:block th:each="pageNum :${#numbers.sequence(start,end)}" th:if ="${pageNum != pi.page}">
	        		<li> <a th:text="${pageNum}"></a></li>
	        	</th:block>
        	</th:block>
        	
        <!-- 다음 페이지로(>) -->	
        	<li><a th:href="@{?page={page} (page = ${pi.page+1})}" >&gt;</a></li>
       
        <!-- 맨 뒤로(>>) -->	
        	<li><a th:href="@{?page={page} (page = ${pi.maxPage})}">&gt;&gt;</a></li>
        </ul>
       
    </div>
    </div>
    <footer th:include="fragments/footer.html"></footer>
    <script>
        $(document).ready(function(){
            $("#inputHeader").load("../fragments/header.html");
            $("#inputFooter").load("../fragments/footer.html");
        });
    </script>
    
    <script id="notice_regist">
    	
    </script>
    
    
</body>
</html>