<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>noticeDetail</title>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link href="notice.css" rel="stylesheet">

</head>

    <div id="header">
        <div class="headerArea">
            <h1 class="logo">KH문화센터</h1>
            <ul>
                <li>수강신청</li>
                <li>커뮤니티</li>
                <li>마이페이지</li>
                <li>양정하 님</li>
            </ul>
    
        </div>
    </div>

    <div class="notice_detail_title">
        <div id="notice_category2">공지사항</div>
        <div id="notice_comment2">11월 오픈강좌 안내드립니다.</div>
        <div id="notice_date2">2021-11-10</div>
    </div>

    <div class="notice_detail_comment">
        <img src="001.png">
        <h3> 11월 강좌 오픈일정 안내드립니다.</h3><br>
        <h3> 강사님은 변동사항이 있을 수 있는점 참고해주시기 바랍니다.</h3><br>
        <h3> 재미있고 유익한 문화센터가 되도록.</h3><br>
        <h3> 저희 KH문화센터는 끊임없는 노력을 하고 있습니다.</h3><br>
        <h3> 문의사항 있으시면 언제든지 연락주세요</h3><br>
    </div>
    
    <!-- 관리자에게만 수정하기 버튼이 활성화됨 -->
    <div align="right" class="notice_detail_button">
        <input type="button"  id="notice_button"  value="수정하기" class="button"> 
    </div>
    
    <div class="notice_detail_reply">
        <div class="notice_reply_select">
            <div id="reply_name">양*하</div> 
            <div id="reply_comment2">언제나 좋은 강의 개설해주셔서 감사합니다. ^__^</div> 
            <div id="reply_date">2021-11-15</div>
            <!-- 본인이 쓴 댓글에만 활성화됨-->
            <input type="button" value="수정" class="button">
        </div>
        
        <div class="notice_detail_reply_insert">
            <input type="text" id="notice_reply_insert">
            <input type="button" value="댓글작성" class="button"> 
        </div>
    </div>
    
    
  
    
        
        


</body>
</html>