<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>noticeInsert</title>
<!-- include libraries(jQuery, bootstrap) -->
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script> 

<!-- KHCultuer에서 쓰는 폰트  -->
<link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap" rel="stylesheet">

 <!-- 서머노트를 위해 추가해야할 부분 -->
<!-- include summernote css/js-->
<link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote-bs4.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote-bs4.js"></script>

<!-- include summernote-ko-KR -->
<script src="/summernote/summernote-lite.js"></script>
<script src="/summernote/summernote-ko-KR.js"></script>
<link rel="stylesheet" href="/css/summernote/summernote-lite.css">

<!-- notice CSS 폴더 -->
<link href="/css/mypage/notice.css" rel="stylesheet">


</head>
<header th:include="fragments/header.html"></header>
<body>
    <div class="titleArea">
        <h1 align="center">등록하기</h1>
    </div>
    
    
    <div class="notice_insert_boundary">
     	<form method="post" action="/notice/insert">
     		
            <div id="Ltitle">
                <span id="Ltitle2">제목 : </span>
                <input type="text" name="n_title" id="notice_insert" required>
            </div>
           
            <div id="Lcomment">  
                <div id="Lcomment2">내용 : </div>
            	<textarea id="summernote" name="n_content" style='background-color:orange;'></textarea>
            </div>
            <div>
            <!-- 관리자로 로그인하면 그 로그인의 M_no loginUser.m_no --> 
            
            	<input type="hidden" name="m_no" value=1>
            </div>
            <div align="center" style="margin-top: 20px;margin-bottom: 20px;padding-bottom: 20px;">
                <span><button type="submit" class="button">등록하기</button></span>
		        <button type="button" class="button" onclick="location.href='/notice/noticeList'">취소하기</button>
            </div>
        </form>
     
    </div>
    <footer th:include="fragments/footer.html"></footer>
    
    <script>
        $(document).ready(function(){
            $("#inputHeader").load("../common/header.html");
            $("#inputFooter").load("../common/footer.html");
        });
    </script>
    
    <script>
    	$('#summernote').summernote({
    		height: 300,
    		lang:"ko-KR",
    		placeholder: '최대 2000자까지 쓸 수 있습니다',
    		focus: true
    	})
    	//uploadSummernoteImageFile : ajax로 서버에서 파일 업로드
    	/*콜백함수로 하지 않기 때문에 없어도 됨 
    	function sendFile(file,editor){
    		var form_data = new FormData();
    	      form_data.append('file', file);
    	      console.log("file = "+file);
    	      
    	      $.ajax({
    	        data: form_data,
    	        type: "POST",
    	        url: 'noticeinsert',  
    	        cache: false,
    	        contentType: false,
    	        enctype: 'multipart/form-data',
    	        processData: false,
    	        success: function(data) {
    	        	console.log(data);
					console.log(editor);
					console.log("출력 test");
    	          $(editor).summernote('editor.insertImage', data);
    	          $('#n_content > ul').append('<li><img src="'+data+'" width="480" height="auto"/></li>');
    	        }
    	      });
    	}
    	*/
    </script>
</body>
</html>