<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>noticeInsert</title>
<link href="notice.css" rel="stylesheet">
</head>
<body>
    <div id="header">
        <div class="headerArea">
            <h1 class="logo">KH문화센터</h1>
            <ul>
                <li>수강신청</li>
                <li>커뮤니티</li>
                <li>마이페이지</li>
                <li>양정하 님</li>
            </ul>
    
        </div>
    </div>
    <h1 align="center">등록하기</h1>
    <div class="notice_insert_boundary">
        <form>
            <div id="Lname"> 
                <span id="Lname2">강좌명 : </span>
                <input type="text" name="Lname" id="notice_insert">
            </div>
            <div id="Ltitle">
                <span id="Ltitle2">제목 : </span>
                <input type="text" name="Ltitle" id="notice_insert">
            </div>
            <div id="Limage">
                <span id="Limage2">이미지첨부 : </span>
                <input type="file" name="Limage" id="notice_insert">
            </div>
            <div id="Lcomment">
                <div id="Lcomment2">내용 : </div>
                <input type="text" name="Lcomment" id="notice_insert2">
            </div>
            <div align="center" style="margin-top: 20px;margin-bottom: 20px;padding-bottom: 20px;">
                <span><input type="button" value="등록하기" class="button"></span>
                <input type="button" value="취소하기" class="button">
            </div>
            

        </form>

    </div>
</body>
</html>