<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>비밀번호 찾기 결과</title>
<link rel="stylesheet" type="text/css" href="/css/member/findPwdResult.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
</head>
<body>
    <div id="titleArea">
        <h1>비밀번호 찾기 결과</h1>
        <p>일치하는 회원 정보가 존재합니다.</p>
        <p>비밀번호를 재설정하실 수 있습니다.</p>
    </div>
    <div id="resultArea">
        <p><span th:text="${userId}" id="userId"></span> 님의 비밀번호를 재설정합니다.</p>
    </div>
    <form id="passwordReset" th:action="@{/member/findPwdResult}" method="post">
    	<input type="hidden" name="id">
        <table id="pwdResetTbl">
            <tr>
                <th>비밀번호 재설정</th>
                <td><input type="password" placeholder="비밀번호를 입력하세요" name="pwd"></td>
            </tr>
            <tr>
                <th></th>
                <td style="height: 20px;"><span id="pwdVerify"></span></td>
            </tr>
            <tr>
                <th>비밀번호 확인</th>
                <td><input type="password" placeholder="비밀번호를 확인합니다" name="pwd2"><br>
                <span id="pwdDblChk"></span></td>              
            </tr>
        </table>
    </form>
    <div id="btnArea">
        <button type="button" id="closeBtn" onclick="window.close();">닫기</button>
        <button type="button" id="setNewPwd" disabled>비밀번호 재설정</button>
    </div>
</body>
<script type="text/javascript" src="/js/member/findPwdResult.js"></script>
<script>
	var msg = '[[${msg}]]';
	if(msg) {
		alert(msg);
		self.close();
	}
</script>
</html>