<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>아이디 찾기</title>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<link rel="stylesheet" type="text/css" href="/css/member/findId.css">
</head>
<body>
    <div id="titleArea">
        <h1>아이디 찾기</h1>
        <p>등록된 이메일 주소로</p>
        <p>아이디를 찾으실 수 있습니다</p>
    </div>
    <form id="inputArea" th:action="@{/member/findId}" method="post">
        <table>
            <tr>
                <th>이름</th>
                <td><input type="text" name="name" placeholder="실명으로 입력해주세요"></td>
            </tr>
            <tr>
                <th>이메일</th>
                <td><input type="text" name="email" placeholder="이메일을 입력해주세요"></td>
            </tr>
        </table>
    </form>
    <div id="btnArea">
        <button type="button" id="cancelBtn" onclick="window.close();">취소</button>
        <button type="submit" id="findIdBtn">아이디 찾기</button>
    </div>
</body>
<script type="text/javascript" src="/js/member/findId.js"></script>
<script>
	var msg = '[[${msg}]]';
	if(msg) {
		alert(msg);	
	}
</script>
</html>