<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>아이디 찾기 결과</title>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<link rel="stylesheet" type="text/css" href="/css/member/findIdResult.css">
</head>
<body>
    <div id="titleArea">
        <h1>아이디 찾기 결과</h1>
    </div>
    <div id="resultArea">
        <p><span id="name" th:text="${findResult.name}"></span> 님의 아이디입니다.</p>
        <div id="idResult"></div>
        <br><br>
        <p style="padding: none;">이메일 전체 확인</p>
    </div>
    <form id="emailAuth">
        <div>
            아이디 전체 확인을 위해 추가 이메일 인증이 필요합니다.<br>
            등록된 이메일로 인증번호를 전송합니다.
        </div>
        <table id="emailAuthTbl">
            <tr>
                <td><div id="emailResult" th:text="${findResult.email}"></div></td>
                <td><input type="button" value="인증코드 전송" style="background-color: var(--active-btn-color);" id="sendAuth"></td>
            </tr>
            <tr>
                <td><input type="text" placeholder="인증코드 입력" id="inputAuthCode" readonly></td>
                <td><input type="button" value="인증하기" id="authCodeCheckBtn" onclick="authCodeCheck();" disabled></td>              
            </tr>
            <tr>
                <td><div id="fullIdResult"></div></td>
                <td></td>
            </tr>
        </table>
    </form>
    <div id="btnArea">
        <button type="button" id="closeBtn" onclick="window.close();">닫기</button>
    </div>
</body>
<script type="text/javascript" src="/js/member/findIdResult.js"></script>

<script th:inline="javascript">
	var id = "[[${findResult.id}]]";
	var email = "[[${findResult.email}]]";
/* ]]> */
</script>
</html>