<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>강좌 스케줄</title>
    <link
      rel="stylesheet"
      href="/css/lectureList/lectureList.css"
    />
    <link
    rel="stylesheet"
    href="/css/lectureList/lectureSchedultStyle.css"
  />
    <script
      src="https://kit.fontawesome.com/1be9c91961.js"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>
    <!-- noto sans 폰트 -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
      rel="stylesheet"
    />
  </head>
  <header th:include="fragments/header.html"></header>
  <body class="lecturelist lectureScheduleBody">
    

    <div class="titleArea">
      <h1>강좌스케줄</h1>
    </div>
    <div class="scheduleContainer">
    <div class="searchContainer">
      <div class="categorySearch">
        <p>강좌 분류</p>
        <div class="sel sel--black-panther selectDiv">
          <select name="select-profession" id="">
              <option value="" disabled>강좌 분류</option>
            <option value="전체">전체</option>
            <option value="정기강좌">정기강좌</option>
            <option value="단기강좌">단기강좌</option>
            <option value="무료강좌">무료강좌</option>
          </select>
        </div>
      </div>
      <div class="targetSearch">
        <p>강좌 대상</p>
        <div class="sel sel--black-panther selectDiv">
          <select name="select-profession" id="">
              <option value="" disabled>강좌 대상</option>
            <option value="전체">전체</option>
            <option value="성인강좌">성인강좌</option>
            <option value="아동강좌">아동강좌</option>
            <option value="영유아강좌">영유아강좌</option>
          </select>
        </div>
      </div>
      <div class="registStatus">
        <p>접수 상태</p>
        <div class="sel sel--black-panther selectDiv">
          <select name="select-profession" id="">
              <option value="" disabled>접수 상태</option>
            <option value="전체">전체</option>
            <option value="접수 예정">접수 예정</option>
            <option value="접수 중">접수 중</option>
            <option value="접수 마감">접수 마감</option>
          </select>
        </div>
      </div>
      <div class="yearSearch">
        <p>개강 년도</p>
        <div class="sel sel--black-panther selectDiv">
          <select name="select-profession" id="selectYear">
              <option value="" disabled>개강 년도</option>
            <option value="전체">전체</option>
            <!-- <option value="2021">2021</option>
            <option value="2020">2020</option>
            <option value="2019">2019</option>
            <option value="2018">2018</option>
            <option value="2017">2017</option> -->
          </select>
        </div>
      </div>
      <div class="monthSearch">
        <p>개강 월</p>
        <div class="sel sel--black-panther selectDiv">
          <select name="select-profession" id="searchMonth">
              <option value="" disabled>개강 월</option>
            <option value="">전체</option>
            <option value="1">1월</option>
            <option value="2">2월</option>
            <option value="3">3월</option>
            <option value="4">4월</option>
            <option value="5">5월</option>
            <option value="6">6월</option>
            <option value="7">7월</option>
            <option value="8">8월</option>
            <option value="9">9월</option>
            <option value="10">10월</option>
            <option value="11">11월</option>
            <option value="12">12월</option>
          </select>
        </div>
      </div>
      <div class="daySearch">
        <p>개강 요일</p>
        <div class="sel sel--black-panther selectDiv">
          <select name="select-profession" id="searchDay" placeholder="개강 시간">
              <option value="" disabled>개강 요일</option>
              <option value="전체">전체</option>
              <option value="월요일">월요일</option>
              <option value="화요일">화요일</option>
              <option value="수요일">수요일</option>
              <option value="목요일">목요일</option>
              <option value="금요일">금요일</option>
              <option value="토요일">토요일</option>
              <option value="일요일">일요일</option>
          </select>
        </div>
      </div>
      <div class="timeSearch">
        <p>개강 시간</p>
        <div class="sel sel--black-panther selectDiv">
          <select name="select-profession" id="" placeholder="전체">
              <option value="" disabled>개강 시간</option>
              <option value="">전체</option>
              <option value="09~10">9시타임</option>
              <option value="10~11">10시타임</option>
              <option value="11~12">11시타임</option>
              <option value="12~13">12시타임</option>
              <option value="13~14">13시타임</option>
              <option value="14~15">14시타임</option>
              <option value="15~16">15시타임</option>
              <option value="16~17">16시타임</option>
              <option value="17~18">17시타임</option>
              <option value="18~19">18시타임</option>
              <option value="19~20">19시타임</option>
              <option value="20~21">20시타임</option>
          </select>
        </div>
      </div>
      <div class="typingSearch">
        <a onclick="searchAll()"><i class="far fa-calendar-alt"></i> 전체 조회 하기</a>
        <div>
          <input type="text" name="" id="" placeholder="강좌명/강사명을 입력하세요.">
          <button type="button" id="scheduleBtn" onclick="searchList()"><i class="fas fa-search"></i></button>
        </div>
      </div>
    </div>
      <div class="calendar">
        <div class="month">
          <div class="yearDiv">
          	<h1 class="year">2021년</h1>
            <!-- <select name="" id="year">
              <option value="2021">2021</option>
              <option value="2020">2020</option>
              <option value="2019">2019</option>
              <option value="2018">2018</option>
              <option value="2017">2017</option>
            </select> -->
          </div>
          <div class="date">
            <i class="fas fa-angle-left prev"></i>
            <h1></h1>
            <i class="fas fa-angle-right next"></i>
          </div>
        </div>
        <div class="weekdays">
          <div>일요일</div>
          <div>월요일</div>
          <div>화요일</div>
          <div>수요일</div>
          <div>목요일</div>
          <div>금요일</div>
          <div>토요일</div>
        </div>
        <div class="days"></div>
      </div>
    </div>
    <!-- cursor effects -->
    <div class="cursors">
      <div>
        <div class="lectureModal">
          <div class="lectureImg">
			<img src="/images/upload/20181129114054.jpg" alt=""/>
          </div>
          <div class="lectureInfo">
            <div>
              <p class="adult">성인강좌</p>
              <p class="regular">정기강좌</p>
            </div>
            <div>
              <h3>10/25 실내 인테리어 플라원 데코 인테리어 플라원 데코</h3>
              <p>김선우 | (월) 14:00 ~ 15:20</p>
              <p>5,000원(총1회)</p>
            </div>
          </div>
        </div>
      </div>
    </div>

	<script>
	
	let category = '';
	let target = '';
	let status = '';
	let year = '';
	let month = '';
	let day = '';
	let time = '';
	let typing = '';
	let arrayStand = 'time';
	
	//검색 바
	$(function() {
		$.ajax({
			url : "/lecture/year",
			success : function(data) {
				const selectYearDiv = document.querySelector("#selectYear");
				for(let index in data) {
					selectYearDiv.insertAdjacentHTML('beforeend', '<option value="' + data[index] + '">' + data[index] + '</option>');
				}
				
				/* ===== Logic for creating fake Select Boxes ===== */
				$('.sel').each(function() {
				    $(this).children('select').css('display', 'none');
				    
				    var $current = $(this);
				    
				    $(this).find('option').each(function(i) {
				      if (i == 0) {
				        $current.prepend($('<div>', {
				          class: $current.attr('class').replace(/sel/g, 'sel__box')
				        }));
				        
				        var placeholder = $(this).text();
				        $current.prepend($('<span>', {
				          class: $current.attr('class').replace(/sel/g, 'sel__placeholder'),
				          text: placeholder,
				          'data-placeholder': placeholder
				        }));
				        
				        return;
				      }
				      
				      $current.children('div').append($('<span>', {
				        class: $current.attr('class').replace(/sel/g, 'sel__box__options'),
				        text: $(this).text()
				      }));
				    });
				  });
				  
				  // Toggling the `.active` state on the `.sel`.
				  $('.sel').click(function() {
				    $(this).toggleClass('active');
				  });
				  
				  // Toggling the `.selected` state on the options.
				  $('.sel__box__options').click(function() {
				    var txt = $(this).text();
				    var index = $(this).index();
				    
				    $(this).siblings('.sel__box__options').removeClass('selected');
				    $(this).addClass('selected');
				    
				    var $currentSel = $(this).closest('.sel');
				    $currentSel.children('.sel__placeholder').text(txt);
				    $currentSel.children('select').prop('selectedIndex', index + 1);
				  });
				
				
				
				
			},
			error : function(e) {
				console.log(e);
			}
		})
	})
	

	
	 var date = new Date();

	 function renderCalendar() {
	     date.setDate(1);
	     var monthDays = document.querySelector('.days');
	     var lastDay = new Date(date.getFullYear(), date.getMonth() + 1, 0).getDate();
	     var prevLastDay =  new Date(date.getFullYear(), date.getMonth(), 0).getDate();

	     var firstDayIndex = date.getDay();
	     var lastDatyIndex = new Date(date.getFullYear(), date.getMonth() + 1, 0).getDay();
	     var nextDays = 7 - lastDatyIndex - 1;

	     var months = ["1월", "2월", "3월", "4월", "5월", "6월", "7월", "8월", "9월", "10월", "11월", "12월"];
	     document.querySelector('.date h1').innerHTML = months[date.getMonth()];

	     //document.querySelector('.date p').innerHTML = new Date().toDateString();

	     let days = "";

	     for(let x = firstDayIndex; x > 0; x--) {
	         days += `<div class="prev-date"><div><p>${prevLastDay - x + 1}</p></div></div>`
	     }
	     for(let i = 1; i <= lastDay; i++) {
	         if(i === new Date().getDate() && date.getMonth() === new Date().getMonth() && date.getFullYear() === new Date().getFullYear()) {
	             days += `<div class="current"><div><p class="today">${i}</p></div><div class="contents"></div></div>`;
	         } else {
	             days += `<div class="current"><div><p>${i}</p></div><div class="contents"></div></div>`;
	         }
	     }
	     
	     for(let j = 1; j <= nextDays; j++) {
	         days += `<div class="next-date"><div><p>${j}</p></div></div>`;
	     }
	     monthDays.innerHTML = days;
		
	     document.querySelector('.year').innerHTML = date.getFullYear() + '년';
	     lectureContents();
	 }
	 
	 function searchList() {
		category = document.querySelector('.scheduleContainer .categorySearch > div > span').innerText;
 		target = document.querySelector('.scheduleContainer .targetSearch > div > span').innerText;
 		status = document.querySelector('.scheduleContainer .registStatus > div > span').innerText;
 		year = document.querySelector('.scheduleContainer .yearSearch > div > span').innerText;
 		month = document.querySelector('.scheduleContainer .monthSearch > div > span').innerText;
		day = document.querySelector('.scheduleContainer .daySearch > div > span').innerText;
 		time = document.querySelector('.scheduleContainer .timeSearch > div > span').innerText;
 		typing = document.querySelector('.scheduleContainer .typingSearch > div > input').value;
 		
			    switch(category) {
			        case '정기강좌' :
			            category = 1;
			            break;
			        case '단기강좌' :
			            category = 2;
			            break;
			        case '무료강좌' :
			            category = 3;
			            break;
			        default : 
			        category = '';
			    }
			    
			    switch(target) {
			        case '성인강좌' :
			        target = 1;
			        break;
			        case '아동강좌' :
			        target = 2;
			        break;
			        case '영유아강좌' :
			            target = 3;
			            break;
		            default :
			            target = '';
			
			    }
			
			   if(status == '전체' || status == '접수 상태') {
			       status = '';
			   }
			
			   if(year == '전체' || year == '개강 년도') {
			       year = '';
			   }
			
			   if(month =='전체' || month =='개강 월') {
			       month = '';
			   }
			
			   if(day == '전체' || day == '개강 요일') {
			       day = '';
			   }
			
			   if(time == '전체' || time == '개강 시간') {
			       time = '';
			   }
				
			   if(year != '') {
				   date.setFullYear(year);
				   /* let options = document.querySelectorAll('#year option');
				   for (let key in options) {
						   options[key].selected = false;
				   }
				   
				   for (let key in options) {
					   if (year == options[key].value) {
						   options[key].selected = true;
					   }
				   } */
			   }
			   if(month != '') {
				   date.setMonth(month.substr(0, month.indexOf("월"))-1);
				   month = month.substr(0, month.indexOf("월"));
			   }
			   if(time != '') {
				   time = time.substr(0, time.indexOf("시"));
			   }
			   
			   renderCalendar();
	 }

	 function lectureContents() {
		 /* 마감임박순, 낮은 가격순, 높은 가격순, 시간대 */
		 let today = new Date();
		 	var obj = {category : category, target : target, status : status, year : year, month : month, day : day, time : time, typing : typing, today : today, arrayStand : arrayStand};
			 $.ajax({
				 url : "/lecture/list/",
				 data : obj,
				 success : function(data) {
					 console.log(data);
					 var contents = document.querySelectorAll('.days > div.current');
				     contents.forEach(item => {
				    	 /* 비워주는 작업 필요*/
				    	 item.children[1].innerHTML = '';
				        for (var key in data.newlectureList) {
			            	 
			            	 let calMonth = '';
			            	 let calDate = '';
			            	 let test = "" + (date.getMonth() + 1);
			            	 if(test.length == 1) {
			            		 calMonth = '0'+ test;
			            	 } else {
			            		 calMonth = test;
			            	 }
			            	 
			            	 let test2 = item.children[0].children[0].innerHTML;
			            	 if(test2.length == 1) {
			            		 calDate = '0'+ test2;
			            	 } else {
			            		 calDate = test2;
			            	 }
			            	 
				             if( date.getFullYear() == data.newlectureList[key].lrParDate.substr(0, 4) && calMonth == data.newlectureList[key].lrParDate.substr(5, 2) && calDate == data.newlectureList[key].lrParDate.substr(8, 2)) {
				            	 
				                 var html = '';
			                         html += `<a href="#"><p>` + data.newlectureList[key].lrStartTime +  ` ~ ` +  data.newlectureList[key].lrEndTime + 
			                         `</p><p>` + data.newlectureList[key].lecture.ltitle + `</p>
			                         <input type="hidden" value="` + data.newlectureList[key].lecture.lthumbnail + `">
			                         <input type="hidden" value="` + data.newlectureList[key].instructor.instructorName + `">
			                         <input type="hidden" value="` + data.newlectureList[key].lrDay + `">
			                         <input type="hidden" value="` + data.newlectureList[key].lrFee + `">
			                         <input type="hidden" value="` + data.newlectureList[key].lrNumber + `">
			                         <input type="hidden" value="` + data.newlectureList[key].lrStartDate + `">
			                         <input type="hidden" value="` + data.newlectureList[key].lecture.lcNo + `">
			                         <input type="hidden" value="` + data.newlectureList[key].lecture.ltNo + `">
			                         </a>`;
				                 item.children[1].insertAdjacentHTML('beforeend', html);
				             }
				         }
				         
				     });
				     
				     modalShow();
				 },
				 error : function(e) {
					 console.log(e);
				 }
			 })
	 }

	 document.querySelector('.prev').addEventListener('click', () => {
	     date.setMonth(date.getMonth() - 1);
	     renderCalendar();
	 });

	 document.querySelector('.next').addEventListener('click', () => {
	     date.setMonth(date.getMonth() + 1);
	     renderCalendar();
	 });

	 /* document.querySelector('#year').addEventListener('change', () => {
	     let val = document.getElementById('year').value;
	     date.setFullYear(val);
	     renderCalendar();
	 }); */

	 renderCalendar();
	
	 function searchAll() {
		 category = '';
			target = '';
			status = '';
			year = '';
			month = '';
			day = '';
			time = '';
			typing = '';
			
			let now = new Date();
			date.setFullYear(now.getFullYear());
			date.setMonth(now.getMonth());
			
			document.querySelector('.scheduleContainer .categorySearch > div > span').innerText = '강좌 분류';
	 		document.querySelector('.scheduleContainer .targetSearch > div > span').innerText = '강좌 대상';
	 		document.querySelector('.scheduleContainer .registStatus > div > span').innerText = '접수 상태';
	 		document.querySelector('.scheduleContainer .yearSearch > div > span').innerText = '개강 년도';
	 		document.querySelector('.scheduleContainer .monthSearch > div > span').innerText = '개강 월';
			document.querySelector('.scheduleContainer .daySearch > div > span').innerText = '개강 요일';
	 		document.querySelector('.scheduleContainer .timeSearch > div > span').innerText = "개강 시간";
	 		document.querySelector('.scheduleContainer .typingSearch > div > input').value = '';
	 		
	 		let selectSpans = document.querySelectorAll(".scheduleContainer .sel__box__options");
	 		selectSpans.forEach(span => {
	 			$(span).removeClass('selected');
	 		});
	 		
			let selectDivs = document.querySelectorAll('.scheduleContainer .selectDiv');
			selectDivs.forEach(div => {
				$(div).removeClass('active');
			});
	 		
			renderCalendar();
	 }
	 
		function modalShow() {
			 const cursorTag = document.querySelector("div.cursors");
			 const modalDiv = cursorTag.querySelector("div");
			 const lectureModal = cursorTag.querySelector("div.lectureModal");
			 const lectures = document.querySelectorAll("div.days a");
			 document.addEventListener("mousemove", function(event) {
			     modalDiv.style.left = event.pageX + "px";
			     modalDiv.style.top = event.pageY + "px";
			 })

			 lectures.forEach(lecture => {
			     lecture.addEventListener("mouseover", function() {
			         let time = this.children[0].innerHTML;
			         let lectureTitle = this.children[1].innerHTML;
			         let modalTarget = ``;
			         if (this.children[8].value == 1) {
			        	 modalTarget = `<p class="regular">정기강좌</p>`;
			         } else if (this.children[8].value == 2) {
			        	 modalTarget = `<p class="short">단기강좌</p>`;
			         } else {
			        	 modalTarget = `<p class="free">무료강좌</p>`;
			         }
			         
			         let categoryModal = ``;
			         if (this.children[9].value == 1) {
			        	 categoryModal = `<p class="adult">성인강좌</p>`;
			         } else if (this.children[8] == 2) {
			        	 categoryModal = `<p class="child">아동강좌</p>`;
			         } else {
			        	 categoryModal = `<p class="kid">영유아강좌</p>`;
			         }
			         
			         let html = `<div class="lectureImg">
			         <img src="/images/upload/` + this.children[2].value + `" alt="">
			       </div>
			       <div class="lectureInfo">
			         <div>` + categoryModal + modalTarget +
			         `</div>
			         <div>
			           <h3>` + this.children[7].value.substr(5, 2) + `/` + this.children[7].value.substr(8, 2) + ` ` + lectureTitle +`</h3>
			           <p>` + this.children[3].value + ` | (` + this.children[4].value.substr(0, 1) + `)` + time + `</p>
			           <p>` + this.children[5].value + `원(총` + this.children[6].value + `회)</p>
			         </div>
			       </div>`;
			       lectureModal.innerHTML = html;
			       lectureModal.classList.add("visible");
			     })

			     lecture.addEventListener("mouseout", function() {
			         lectureModal.classList.remove("visible");
			     })
			 });
		}
	 
	</script>
    <!-- js -->
   <!-- <script src="/js/lectureList/cursors.js"></script> -->
    
 <!--  <script src="/js/lectureList/selectStyle.js"></script> -->
  </body>
  <footer th:include="fragments/footer.html"></footer>
  
</html>
