<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>강좌 스케줄</title>
    <link
      rel="stylesheet"
      href="/css/lectureList/lectureList.css"
    />
    <link
    rel="stylesheet"
    href="/css/lectureList/lectureSchedultStyle.css"
  />
    <script
      src="https://kit.fontawesome.com/1be9c91961.js"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>
    <!-- noto sans 폰트 -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
      rel="stylesheet"
    />
  </head>
  <header th:include="fragments/header.html"></header>
  <body class="lecturelist lectureScheduleBody">
    

    <div class="titleArea">
      <h1>강좌스케줄</h1>
    </div>
    <div class="scheduleContainer">
    <div class="searchContainer">
      <div class="categorySearch">
        <p>강좌 분류</p>
        <div class="sel sel--black-panther selectDiv">
          <select name="select-profession" id="select-profession">
              <option value="" disabled>강좌 분류</option>
            <option value="전체">전체</option>
            <option value="정기강좌">정기강좌</option>
            <option value="단기강좌">단기강좌</option>
            <option value="무료강좌">무료강좌</option>
          </select>
        </div>
      </div>
      <div class="targetSearch">
        <p>강좌 대상</p>
        <div class="sel sel--black-panther selectDiv">
          <select name="select-profession" id="select-profession">
              <option value="" disabled>강좌 대상</option>
            <option value="전체">전체</option>
            <option value="성인강좌">성인강좌</option>
            <option value="아동강좌">아동강좌</option>
            <option value="영유아강좌">영유아강좌</option>
          </select>
        </div>
      </div>
      <div class="registStatus">
        <p>접수 상태</p>
        <div class="sel sel--black-panther selectDiv">
          <select name="select-profession" id="select-profession">
              <option value="" disabled>접수 상태</option>
            <option value="전체">전체</option>
            <option value="접수 예정">접수 예정</option>
            <option value="접수 중">접수 중</option>
            <option value="접수 마감">접수 마감</option>
          </select>
        </div>
      </div>
      <div class="yearSearch">
        <p>개강 년도</p>
        <div class="sel sel--black-panther selectDiv">
          <select name="select-profession" id="select-profession">
              <option value="" disabled>개강 년도</option>
            <option value="전체">전체</option>
            <option value="2021">2021</option>
            <option value="2020">2020</option>
            <option value="2019">2019</option>
            <option value="2018">2018</option>
            <option value="2017">2017</option>
          </select>
        </div>
      </div>
      <div class="monthSearch">
        <p>개강 월</p>
        <div class="sel sel--black-panther selectDiv">
          <select name="select-profession" id="searchMonth">
              <option value="" disabled>개강 월</option>
            <option value="">전체</option>
            <option value="1">1월</option>
            <option value="2">2월</option>
            <option value="3">3월</option>
            <option value="4">4월</option>
            <option value="5">5월</option>
            <option value="6">6월</option>
            <option value="7">7월</option>
            <option value="8">8월</option>
            <option value="9">9월</option>
            <option value="10">10월</option>
            <option value="11">11월</option>
            <option value="12">12월</option>
          </select>
        </div>
      </div>
      <div class="daySearch">
        <p>개강 요일</p>
        <div class="sel sel--black-panther selectDiv">
          <select name="select-profession" id="searchDay" placeholder="개강 시간">
              <option value="" disabled>개강 요일</option>
              <option value="전체">전체</option>
              <option value="월요일">월요일</option>
              <option value="화요일">화요일</option>
              <option value="수요일">수요일</option>
              <option value="목요일">목요일</option>
              <option value="금요일">금요일</option>
              <option value="토요일">토요일</option>
              <option value="일요일">일요일</option>
          </select>
        </div>
      </div>
      <div class="timeSearch">
        <p>개강 시간</p>
        <div class="sel sel--black-panther selectDiv">
          <select name="select-profession" id="select-profession" placeholder="전체">
              <option value="" disabled>개강 시간</option>
              <option value="">전체</option>
              <option value="09~10">9~10(시)</option>
              <option value="10~11">10~11(시)</option>
              <option value="11~12">11~12(시)</option>
              <option value="12~13">12~13(시)</option>
              <option value="13~14">13~14(시)</option>
              <option value="14~15">14~15(시)</option>
              <option value="15~16">15~16(시)</option>
              <option value="16~17">16~17(시)</option>
              <option value="17~18">17~18(시)</option>
              <option value="18~19">18~19(시)</option>
              <option value="19~20">19~20(시)</option>
              <option value="20~21">20~21(시)</option>
          </select>
        </div>
      </div>
      <div class="typingSearch">
        <a><i class="far fa-calendar-alt"></i> 전체 조회 하기</a>
        <div>
          <input type="text" name="" id="" placeholder="강좌명/강사명을 입력하세요.">
          <button type="button" id="scheduleBtn" onclick="searchList()"><i class="fas fa-search"></i></button>
        </div>
      </div>
    </div>
      <div class="calendar">
        <div class="month">
          <div class="yearDiv">
            <select name="" id="year">
              <option value="2021">2021</option>
              <option value="2020">2020</option>
              <option value="2021">2021</option>
              <option value="2021">2021</option>
              <option value="2021">2021</option>
              <option value="2021">2021</option>
            </select>
          </div>
          <div class="date">
            <i class="fas fa-angle-left prev"></i>
            <h1></h1>
            <i class="fas fa-angle-right next"></i>
          </div>
        </div>
        <div class="weekdays">
          <div>일요일</div>
          <div>월요일</div>
          <div>화요일</div>
          <div>수요일</div>
          <div>목요일</div>
          <div>금요일</div>
          <div>토요일</div>
        </div>
        <div class="days"></div>
      </div>
    </div>
    <!-- cursor effects -->
    <div class="cursors">
      <div>
        <div class="lectureModal">
          <div class="lectureImg">
			<img src="/images/lectureList/20181129114054.jpg" alt=""/>
          </div>
          <div class="lectureInfo">
            <div>
              <p class="adult">성인강좌</p>
              <p class="regular">정기강좌</p>
            </div>
            <div>
              <h3>10/25 실내 인테리어 플라원 데코 인테리어 플라원 데코</h3>
              <p>김선우 | (월) 14:00 ~ 15:20</p>
              <p>5,000원(총1회)</p>
            </div>
          </div>
        </div>
      </div>
    </div>

	<script>
	
	let category = null;
	let target = null;
	let status = null;
	let year = null;
	let month = null;
	let day = null;
	let time = null;
	let typing = null;
	
	 var date = new Date();

	 function renderCalendar() {
	     date.setDate(1);
	     var monthDays = document.querySelector('.days');
	     var lastDay = new Date(date.getFullYear(), date.getMonth() + 1, 0).getDate();
	     var prevLastDay =  new Date(date.getFullYear(), date.getMonth(), 0).getDate();

	     var firstDayIndex = date.getDay();
	     var lastDatyIndex = new Date(date.getFullYear(), date.getMonth() + 1, 0).getDay();
	     var nextDays = 7 - lastDatyIndex - 1;

	     var months = ["1월", "2월", "3월", "4월", "5월", "6월", "7월", "8월", "9월", "10월", "11월", "12월"];
	     document.querySelector('.date h1').innerHTML = months[date.getMonth()];

	     //document.querySelector('.date p').innerHTML = new Date().toDateString();

	     let days = "";

	     for(let x = firstDayIndex; x > 0; x--) {
	         days += `<div class="prev-date"><div><p>${prevLastDay - x + 1}</p></div></div>`
	     }
	     for(let i = 1; i <= lastDay; i++) {
	         if(i === new Date().getDate() && date.getMonth() === new Date().getMonth() && date.getFullYear() === new Date().getFullYear()) {
	             days += `<div class="current"><div><p class="today">${i}</p></div><div class="contents"></div></div>`;
	         } else {
	             days += `<div class="current"><div><p>${i}</p></div><div class="contents"></div></div>`;
	         }
	     }
	     
	     for(let j = 1; j <= nextDays; j++) {
	         days += `<div class="next-date"><div><p>${j}</p></div></div>`;
	     }
	     monthDays.innerHTML = days;

	     lectureContents();
	 }
	 
	 function searchList() {
		 category = document.querySelector('.scheduleContainer .categorySearch > div > span').innerText;
 		target = document.querySelector('.scheduleContainer .targetSearch > div > span').innerText;
 		status = document.querySelector('.scheduleContainer .registStatus > div > span').innerText;
 		year = document.querySelector('.scheduleContainer .yearSearch > div > span').innerText;
 		month = document.querySelector('.scheduleContainer .monthSearch > div > span').innerText;
			day = document.querySelector('.scheduleContainer .daySearch > div > span').innerText;
 		time = document.querySelector('.scheduleContainer .timeSearch > div > span').innerText;
 		typing = document.querySelector('.scheduleContainer .typingSearch > div > input').value;

			    switch(category) {
			        case category == '정기강좌' :
			            category = 1;
			            break;
			        case category == '단기강좌' :
			            category = 2;
			            break;
			        case category == '무료강좌' :
			            category = '단기강좌';
			            break;
			            default : 
			        category = null;
			    }
			
			    switch(target) {
			        case target == '성인강좌' :
			        target = '1';
			        break;
			        case target == '아동강좌' :
			        target = '2';
			        break;
			        case target == '영유아강좌' :
			            target = '3';
			            break;
			            default :
			            target = null;
			
			    }
			
			   if(status == '전체' || status == '접수 상태') {
			       status = null;
			   }
			
			   if(year == '전체' || year == '개강 년도') {
			       year = null;
			   }
			
			   if(month =='전체' || month =='개강 월') {
			       month = null;
			   }
			
			   if(day == '전체' || day == '개강 요일') {
			       day = null;
			   }
			
			   if(time == '전체' || time == '개강 시간') {
			       time = null;
			   }
			
			   if(typing == '') {
			       typing = null;
			   }
			
			    console.log(category);
			    console.log(target);
			    console.log(status);
			    console.log(year);
			    console.log(month);
			    console.log(day);
			    console.log(time);
			    console.log(typing);
	 }

	 function lectureContents() {
		 /* 마감임박순, 낮은 가격순, 높은 가격순, 시간대 */
		 
		 	var obj = {target : target};
		 
			 $.ajax({
				 url : "/lecture/list/",
				 data : obj,
				 success : function(data) {
					 console.log(data);
					 var contents = document.querySelectorAll('.days > div.current');
				     contents.forEach(item => {
				    	 /* 비워주는 작업 필요*/
				    	 item.children[1].innerHTML = '';
				        for (var key in data) {
				             if(item.children[0].children[0].innerHTML == data[key].lrParDate.substr(8, 2)) {
				                 var html = '';
			                         html += `<a href="#"><p>` + data[key].lrStartTime +  ` ~ ` +  data[key].lrEndTime + 
			                         `</p><p>` + data[key].lecture.ltitle + `</p>
			                         <input type="hidden" value="` + data[key].lecture.lthumbnail + `">
			                         <input type="hidden" value="` + data[key].instructor.instructorName + `">
			                         <input type="hidden" value="` + data[key].lrDay + `">
			                         <input type="hidden" value="` + data[key].lrFee + `">
			                         <input type="hidden" value="` + data[key].lrNumber + `">
			                         <input type="hidden" value="` + data[key].lrStartDate + `">
			                         <input type="hidden" value="` + data[key].lecture.lcNo + `">
			                         <input type="hidden" value="` + data[key].lecture.ltNo + `">
			                         </a>`;
				                 item.children[1].insertAdjacentHTML('beforeend', html);
				             }
				         }
				         
				     });
				     
				     modalShow();
				 },
				 error : function(e) {
					 console.log(e);
				 }
			 })
	 }

	 document.querySelector('.prev').addEventListener('click', () => {
	     date.setMonth(date.getMonth() - 1);
	     renderCalendar();
	 });

	 document.querySelector('.next').addEventListener('click', () => {
	     date.setMonth(date.getMonth() + 1);
	     renderCalendar();
	 });

	 document.querySelector('#year').addEventListener('change', () => {
	     let val = document.getElementById('year').value;
	     date.setFullYear(val);
	     renderCalendar();
	 });

	 renderCalendar();
	
		function modalShow() {
			 const cursorTag = document.querySelector("div.cursors");
			 const modalDiv = cursorTag.querySelector("div");
			 const lectureModal = cursorTag.querySelector("div.lectureModal");
			 const lectures = document.querySelectorAll("div.days a");
			console.log(lectures);
			 document.addEventListener("mousemove", function(event) {
			     modalDiv.style.left = event.pageX + "px";
			     modalDiv.style.top = event.pageY + "px";
			 })

			 lectures.forEach(lecture => {
			     lecture.addEventListener("mouseover", function() {
			         let time = this.children[0].innerHTML;
			         let lectureTitle = this.children[1].innerHTML;
			         let modalTarget = ``;
			         if (this.children[8].value == 1) {
			        	 modalTarget = `<p class="regular">정기강좌</p>`;
			         } else if (this.children[8].value == 2) {
			        	 modalTarget = `<p class="short">단기강좌</p>`;
			         } else {
			        	 modalTarget = `<p class="free">무료강좌</p>`;
			         }
			         
			         let categoryModal = ``;
			         if (this.children[9].value == 1) {
			        	 categoryModal = `<p class="adult">성인강좌</p>`;
			         } else if (this.children[8] == 2) {
			        	 categoryModal = `<p class="child">아동강좌</p>`;
			         } else {
			        	 categoryModal = `<p class="kid">영유아강좌</p>`;
			         }
			         
			         let html = `<div class="lectureImg">
			         <img src="/images/lectureList/` + this.children[2].value + `" alt="">
			       </div>
			       <div class="lectureInfo">
			         <div>` + categoryModal + modalTarget +
			         `</div>
			         <div>
			           <h3>` + this.children[7].value.substr(5, 2) + `/` + this.children[7].value.substr(8, 2) + ` ` + lectureTitle +`</h3>
			           <p>` + this.children[3].value + ` | (` + this.children[4].value + `)` + time + `</p>
			           <p>` + this.children[5].value + `원(총` + this.children[6].value + `회)</p>
			         </div>
			       </div>`;
			       lectureModal.innerHTML = html;
			       lectureModal.classList.add("visible");
			     })

			     lecture.addEventListener("mouseout", function() {
			         lectureModal.classList.remove("visible");
			     })
			 });
		}
	 
	</script>
    <!-- js -->
   <!-- <script src="/js/lectureList/cursors.js"></script> -->
    
  <script src="/js/lectureList/selectStyle.js"></script>
  </body>
  <footer th:include="fragments/footer.html"></footer>
  
</html>
