@charset "UTF-8";

.listContainer{
    display: flex;
    margin: 100px auto;
    max-width: 1320px;
    min-height: 500px;
    flex-wrap: nowrap;
    justify-content: space-between;
    font-family: 'Noto Sans KR', sans-serif;
}
.listContainer > .content{
    min-width: 1320px;
}
.listContainer > .content > .titleArea{
    width: 1320px;
    height: 150px;
    
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #F0B95E;
    margin-bottom: 70px;
}
.titleArea > h1{
    font-size: 52px;
    font-weight: 500;
}
.listContainer > .content > .contentArea{
    width: 1320px;
    min-height: 500px;
    font-size: 20px;
}
.listContainer > .content > .contentArea > form > .selectArea1{
    width: 1320px;
    height: 50px;
    margin-bottom: 15px;
    
}
.listContainer > .content > .contentArea > form > .selectArea1 > input{
    border: 1px solid #F0B95E;
    width: 120px;
    height: 50px;
    text-align: center;
    margin-right: 10px;
}
.listContainer > .content > .contentArea > form > .selectArea1 > input[type=number]{
    width: 290px;
    height: 50px;
    text-align: left;
    padding-left: 20px;

}
.listContainer > .content > .contentArea > form > .selectArea1 > input[type=text]{
    text-align: left;
    padding-left: 20px;

}
.listContainer > .content > .contentArea > form > .selectArea1 > input[type=button]{
    width: 290px;
    height: 50px;
    background-color: #EEC37F;
}
.listContainer > .content > .contentArea > form > .selectArea1 > .lectureDate{
    width: 340px;
    height: 50px;
    
}

.ui-datepicker-trigger > img{
    vertical-align: middle;
    width: 40px;
    height: 40px;
    margin-right: 30px;
}

.listContainer > .content > .contentArea > form > .selectArea1 > .timePickerArea{
    
    display: inline-block;
    position: relative;
    width: 800px;

}
#jqxTimePicker{
    
    position: absolute;
    right: 100px;
    top: 0;
}
.listContainer > .content > .contentArea > form > .selectArea1 > .lectureTime{
    width: 200px;
    height: 50px;
    text-align: left;
}
.listContainer > .content > .contentArea > form > .selectArea1 > input[type=text]{
    padding-left: 20px;
}

.listContainer > .content > .contentArea > form > .selectArea1 > #startBtn, #endBtn{
    width: 100px;
    height: 50px;
    border-radius: 50px;
    background-color: #EA9155;
    color: white;
    margin-right: 35px;
}

.listContainer > .content > .contentArea > form > .btnArea{
    width: 1320px;
    height: 80px;
    display: flex;
    justify-content: center;
    margin-top: 150px;
    
}
.listContainer > .content > .contentArea > form > .btnArea > input[type=submit]{
    width: 220px;
    height: 80px;
    text-align: center;
    color: white;
    background-color: #EA9155;
}
#lrDay{
    width: 200px;
    height: 50px;
    border: 1px solid #F0B95E;
    background-color: white;
    -webkit-appearance:searchfield;
    text-align: center;
}









.modal{

    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
	z-index: 1;
    background: rgba(0,0,0,0.8);
    font-family: 'Noto Sans KR', sans-serif;
}
.modal >.modalWindow {
    width: 900px;
    height: 900px;
    position: fixed;
    top: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    overflow: auto;
    overflow-x: hidden;
}
.modal >.modalWindow > .listArea{
    width: 900px;
    
}
.modal >.modalWindow > .listArea > ul{
    list-style: none;
    padding-left: 0px;
    font-weight: 500;
    font-size: 22px;
}
.modal >.modalWindow > .listArea > ul > li{
    width: 900px;
    height: 100px;
    display: flex;
    align-items: center;
    background-color: #F0B95E;
    border: 1px solid black;
    color: white;
}

.modal >.modalWindow > .listArea > ul > li > input[type=radio]{
    width: 50px;
    height: 50px;
    margin-right: 25px;
    margin-left : 25px;
}

.modal >.modalWindow > .listArea > ul > li > img{
    width: 100px;
    height: 100px;
    margin-right: 50px;
}


.modal >.modalWindow > .btnArea{
    width: 900px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FBFEE1;
}

.modal >.modalWindow > .btnArea > button{
    width: 220px;
    height: 70px;
    color: white;
    background-color: #EA9155;
    font-size: 36px;
    font-weight: 500;
    
}
