<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.khculture.admin.model.dao.AdminMapper">
	<resultMap type="com.kh.khculture.member.model.vo.Member" id="memberResultMap">
		<id property="mno" column="M_NO"/>
		<result property="id" column="ID"/>
		<result property="pwd" column="PWD"/>
		<result property="name" column="NAME"/>
		<result property="phone" column="PHONE"/>
		<result property="email" column="EMAIL"/>
		<result property="address" column="ADDRESS"/>
		<result property="hintNo" column="HINT_NO"/>
		<result property="hintA" column="HINT_A"/>
		<result property="enrollDate" column="M_ENROLL_DATE"/>
		<result property="modifyDate" column="M_MODIFY_DATE"/>
		<result property="pwdChangedDate" column="PWD_CHANGED_DATE"/>
		<result property="pwdExpDate" column="PWD_EXP_DATE"/>
		<result property="loginFailedCnt" column="LOGIN_FAILED_COUNT"/>	
		<result property="accLockYN" column="ACC_LOCK_YN"/>	
		<result property="accSecessionYN" column="ACC_SECESSION_YN"/>	
		<result property="accSecessionDate" column="ACC_SECESSION_DATE"/>	
		<collection property="memberRoleList" resultMap="memberRoleResultMap"/>
	</resultMap>
	
	<resultMap type="com.kh.khculture.member.model.vo.MemberRole" id="memberRoleResultMap">
		<id property="mno" column="REF_M_NO"/>
		<id property="authorityCode" column="REF_AUTHORITY_CODE"/>
		<result property="authorityKRName" column="AUTHORITY_NAME"/>
		<!-- <association property="authority" resultMap="authorityResultMap"/> -->
	</resultMap>
	
	<resultMap id="noticeResultMap" type="com.kh.khculture.admin.model.vo.Notice">
		<id property="n_no" column="N_NO"/>
		<result property="n_title" column="N_TITLE"/>
		<result property="n_content" column="N_CONTENT"/>
		<result property="n_enroll_date" column="N_ENROLL_DATE"/>
		<result property="n_count" column="N_COUNT"/>
		<result property="n_modify_date" column="N_MODIFY_DATE"/>
		<result property="n_status" column="N_STATUS"/>
		<result property="m_no" column="M_NO"/>
		<result property="id" column="ID"/>
		<result property="refYN" column="REF_YN"/>
	</resultMap>
	
	<select id="getPageMemberList" resultMap="memberResultMap" parameterType="com.kh.khculture.admin.model.vo.Search">
		SELECT *
		  FROM (
			SELECT
					ROWNUM RNUM, A.*, DECODE(A.REF_AUTHORITY_CODE, 1, '일반회원', 2, '관리자', 3, '대표') AUTHORITY_NAME
			  FROM (
					SELECT
							B.M_NO
						  , B.ID
						  , B.NAME
						  , B.PHONE
						  , B.EMAIL
						  , B.ADDRESS
						  , B.M_ENROLL_DATE
						  , B.ACC_LOCK_YN
						  , B.ACC_SECESSION_YN
						  , B.ACC_SECESSION_DATE
						  , C.M_NO REF_M_NO
						  , ( SELECT COUNT(AUTHORITY_CODE)
                             	FROM MEMBER E
                             	JOIN MEMBER_ROLE F ON(E.M_NO = F.M_NO)
                               GROUP BY E.M_NO
                              HAVING E.M_NO = B.M_NO ) REF_AUTHORITY_CODE
					  FROM MEMBER B
					  JOIN MEMBER_ROLE C ON(B.M_NO = C.M_NO)
					<where>
					<choose>
   					<when test="authorityCode == 0">
					 	C.AUTHORITY_CODE = 1
					</when>
					<when test="authorityCode == 1">
						B.ID NOT IN (SELECT ID
									 FROM MEMBER
									 JOIN MEMBER_ROLE USING(M_NO)
									WHERE AUTHORITY_CODE IN (2, 3))
					</when>
					<when test="authorityCode == 2">
						C.AUTHORITY_CODE = 2
					</when>
					</choose>
					<if test="accLockYN != null">
						AND B.ACC_LOCK_YN = #{accLockYN}
					</if>
					<if test="accSecessionYN != null">
						AND B.ACC_SECESSION_YN = #{accSecessionYN}
					</if>
					<if test='searchDate != null and accSecessionYN != null and accSecessionYN == "Y"'>
						AND B.ACC_SECESSION_DATE &lt;= #{searchDate}
					</if>
					<if test="searchKeyword != null">
						AND B.ID LIKE '%' || #{searchKeyword} || '%'
					</if>
					</where>
					 ORDER BY B.M_NO DESC, C.AUTHORITY_CODE DESC
					 ) A
				)
 		 WHERE RNUM BETWEEN #{startRow} and #{endRow}
	</select>
	
	<select id="getAllMemberList" resultMap="memberResultMap" parameterType="com.kh.khculture.admin.model.vo.Search">
		SELECT *
		  FROM (
			SELECT
					ROWNUM RNUM, A.*
			  FROM (
					SELECT
							B.M_NO
						  , B.ID
						  , B.NAME
						  , B.PHONE
						  , B.EMAIL
						  , B.ADDRESS
						  , B.M_ENROLL_DATE
						  , B.ACC_LOCK_YN
						  , B.ACC_SECESSION_YN
						  , C.M_NO REF_M_NO
						  , C.AUTHORITY_CODE REF_AUTHORITY_CODE
					  FROM MEMBER B
					  JOIN MEMBER_ROLE C ON(B.M_NO = C.M_NO)
					<where>
					<choose>
  					<when test="authorityCode == 0">
					 	AUTHORITY_CODE = 1
					</when>
					<when test="authorityCode == 1">
						ID NOT IN (SELECT ID
									 FROM MEMBER
									 JOIN MEMBER_ROLE USING(M_NO)
									WHERE AUTHORITY_CODE IN (2, 3))
					</when>
					<when test="authorityCode == 2">
						C.AUTHORITY_CODE = 2
					</when>
					</choose>
					<if test="accLockYN != null">
						AND B.ACC_LOCK_YN = #{accLockYN}
					</if>
					<if test="accSecessionYN != null">
						AND B.ACC_SECESSION_YN = #{accSecessionYN}
					</if>
					<if test='searchDate != null and accSecessionYN != null and accSecessionYN == "Y"'>
						AND B.ACC_SECESSION_DATE &lt;= #{searchDate}
					</if>
					<if test="searchKeyword != null">
						AND B.ID LIKE '%' || #{searchKeyword} || '%'
					</if>
					</where>
					 ORDER BY B.M_NO DESC
					 ) A
				)
	</select>
	
	<select id="getSearchListCount" resultType="_int" parameterType="com.kh.khculture.admin.model.vo.Search">
		SELECT COUNT(*)
		  FROM MEMBER
		  JOIN MEMBER_ROLE USING(M_NO)
		<where>
			<choose>
 			<when test="authorityCode == 0">
			 	AUTHORITY_CODE = 1
			</when>
			<when test="authorityCode == 1">
				ID NOT IN (SELECT ID
							 FROM MEMBER
							 JOIN MEMBER_ROLE USING(M_NO)
							 WHERE AUTHORITY_CODE IN (2, 3))
			</when>
			<when test="authorityCode == 2">
				AUTHORITY_CODE = 2
			</when>
			</choose>
			<if test="accLockYN != null">
				AND ACC_LOCK_YN = #{accLockYN}
			</if>
			<if test="accSecessionYN != null">
				AND ACC_SECESSION_YN = #{accSecessionYN}
			</if>
			<if test="searchDate != null">
				AND ACC_SECESSION_DATE &lt;= #{searchDate}
			</if>
			<if test="searchKeyword != null">
				AND ID LIKE '%' || #{searchKeyword} || '%'
			</if>
		</where>
	</select>
	
	<!-- 전체 회원 수 -->
	<select id="getListCount" resultType="_int" parameterType="com.kh.khculture.admin.model.vo.Search">
		SELECT COUNT(*)
		  FROM MEMBER A
		  JOIN MEMBER_ROLE B ON(A.M_NO = B.M_NO)
		 WHERE B.AUTHORITY_CODE = 1
	</select>
	
	<update id="pwdReset" parameterType="hashMap">
		UPDATE MEMBER
		   SET PWD = #{newPwd}
		 WHERE M_NO = #{mno}
	</update>
	
	<update id="deleteAcc" parameterType="hashMap">
		UPDATE MEMBER
		   SET ACC_SECESSION_DATE = SYSDATE
		     , ACC_SECESSION_YN = 'Y'
		WHERE M_NO = #{mno}
		  AND ACC_SECESSION_YN = 'N'
	</update>
	
	<delete id="deleteRole" parameterType="hashMap">
		DELETE FROM MEMBER_ROLE
		 WHERE M_NO = #{mno}
	</delete>
	<insert id="insertRole1" parameterType="hashMap">
		INSERT INTO MEMBER_ROLE
			(
				M_NO
			  , AUTHORITY_CODE
			)
		VALUES
			(
				#{mno}
			  , 1
			)
	</insert>
	<insert id="insertRole2" parameterType="hashMap">
		INSERT INTO MEMBER_ROLE
			(
				M_NO
			  , AUTHORITY_CODE
			)
		VALUES
			(
				#{mno}
			  , 2
			)
	</insert>
	
	<select id="getNoticeListCount" parameterType="com.kh.khculture.admin.model.vo.Search" resultType="_int">
		SELECT COUNT(*)
		  FROM NOTICE
		<where>
			N_STATUS = 'Y'
		<if test="searchOpt != null and searchKeyword != null">
		   AND #{searchOpt} LIKE '%' || #{searchKeyword} || '%'
		</if>
		<if test="mno != 0">
		   AND M_NO = #{mno}
		</if>
		</where>
	</select>
	
	<select id="getPageNoticeList" parameterType="com.kh.khculture.admin.model.vo.Search" resultMap="noticeResultMap">
		SELECT
				N_NO
			  , N_TITLE
			  , N_CONTENT
			  , N_COUNT
			  , TO_CHAR(N_ENROLL_DATE, 'YYYY-MM-DD') N_ENROLL_DATE
			  , M_NO
			  , ID
			  , NVL2(REF_NO, 'N', 'Y') REF_YN
		  FROM (SELECT ROWNUM RNUM, A.*
		  		  FROM ( SELECT N.N_NO
		  		  			  , N.N_TITLE
		  		  			  , N.N_CONTENT
		  		  			  , N.N_COUNT
		  		  			  , N.N_ENROLL_DATE
		  		  			  , N.M_NO
		  		  			  , M.ID
		  		  			  , I.REF_NO
		  		  		   FROM NOTICE N
		  		  		   JOIN MEMBER M ON (N.M_NO = M.M_NO)
		  		  		   LEFT JOIN MAIN_IMAGE I ON(N.N_NO = I.REF_NO)
		  		  		<where>
		  		  		  N.N_STATUS = 'Y'
						<if test="searchOpt == 'N_TITLE' and searchKeyword != null">
						   AND N.N_TITLE LIKE '%' || #{searchKeyword} || '%'
						</if>
						<if test="searchOpt == 'N_CONTENT' and searchKeyword != null">
						   AND N.N_CONTENT LIKE '%' || #{searchKeyword} || '%'
						</if>
						<if test="mno != 0">
						   AND N.M_NO = #{mno}
						</if>
						</where>
						 ORDER BY N.N_NO DESC
		  		  		) A
		  		)
		  WHERE RNUM BETWEEN #{startRow} AND #{endRow}
	</select>
	
	<insert id="enrollMainImage" parameterType="com.kh.khculture.main.model.vo.MainImage">
		INSERT INTO MAIN_IMAGE
		    (
		    	MI_NO
		      , M_NO
		      , MI_RENAME
		      , REF_NO
		      , MI_STATUS
		    )
		VALUES
			(
				SEQ_MI_NO.NEXTVAL
			  , #{mno}
			  , #{miRename}
			  , #{refNo}
			  , 'Y'
			)
	</insert>
	
	<delete id="deleteMain" parameterType="_int">
		DELETE FROM MAIN_IMAGE
		 WHERE REF_NO = #{nno}
	</delete>
</mapper>