<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.khculture.lecture.model.dao.LectureMapper">
	<resultMap type="com.kh.khculture.lecture.model.vo.LectureOpen" id="selectListResultMap">
		<id property="lrNo" column="lr_no"></id>
		<result property="lrCapacity" column="lr_capacity"></result>
		<result property="lrCount" column="LR_COUNT"></result>
		<result property="lrFee" column="LR_FEE"></result>
		<result property="lrStartDate" column="LR_START_DATE"></result>
		<result property="lrEndDate" column="LR_END_DATE"></result>
		<result property="lrNumber" column="LR_NUMBER"></result>
		<result property="lrDay" column="LR_DAY"></result>
		<result property="lrStartTime" column="LR_START_TIME"></result>
		<result property="lrEndTime" column="LR_END_TIME"></result>
		<association property="lecture" resultMap="lectureResultMap"/>
		<association property="instructor" resultMap="instructorResultMap"/>
	</resultMap>
	<resultMap type="com.kh.khculture.lecture.model.vo.Lecture" id="lectureResultMap">
		<id property="lNo" column="l_no"></id>
		<result property="lTitle" column="l_title"></result>
		<result property="lContent" column="l_content"></result>
		<result property="lThumbnail" column="l_thumbnail"></result>
		<result property="lcNo" column="LC_NO"></result>
		<result property="ltNo" column="lT_NO"></result>
	</resultMap>
	<resultMap type="com.kh.khculture.lecture.model.vo.Instructor" id="instructorResultMap">
		<id property="instructorNo" column="INSTRUCTOR_NO"></id>
		<result property="instructorName" column="INSTRUCTOR_NAME"></result>
		<result property="profilePhoto" column="PROFILE_PHOTO"></result>
		<result property="birthDate" column="BIRTH_DATE"></result>
		<result property="instructorPhone" column="INSTRUCTOR_PHONE"></result>
		<result property="career" column="CAREER"></result>
	</resultMap>
	<select id="selectLectureList" parameterType="com.kh.khculture.lecture.model.vo.Search" resultMap="selectListResultMap">
		select * 
		from (
			select ROWNUM RNUM, A.*
		from (
			select 
		* 
		from lecture_registration
		join lecture using (l_no)
		join instructor using (instructor_no)
		where lr_status = 'N'
		<if test="category != ''">
			and lc_no = #{category}
		</if>
		<if test="target != ''">
			and lt_no = #{target}
		</if>
		<if test="year != ''">
			and EXTRACT(year FROM LR_START_DATE) = #{year}
		</if>
		<if test="month != ''">
			and EXTRACT(month FROM LR_START_DATE) = #{month}
		</if>
		<if test="day != ''">
			and lr_day = #{day}
		</if>
		<if test="typing != ''">
			and (replace(l_title, ' ', '') LIKE '%' || #{typing} || '%'
			or instructor_name LIKE '%' || #{typing} || '%'
			)
		</if>
		<if test="time != ''">
			and substr(lr_start_time, 1, instr(lr_start_time, ':')-1) = #{time}
		</if>
		<choose>
			<when test="status == '접수 중'">
				and (lr_capacity > lr_count
				and #{today} >= lr_start_date - 30
				and lr_start_date > #{today}
				)
			</when>
			<when test="status == '접수 예정'">
				and lr_start_date - 30 > #{today}
			</when>
			<when test="status == '접수 마감'">
				and (#{today} >= lr_start_date
				or lr_capacity = lr_count
				)
			</when>
		</choose>
		<choose>
			<when test="arrayStand == 'date'">
			order by lr_start_date desc
			</when>
			<when test="arrayStand == 'lowPrice'">
			order by lr_Fee
			</when>
			<when test="arrayStand == 'highPrice'">
			order by lr_Fee desc
			</when>
		</choose>
		) A
		) 
		<if test="page != 0">
		where RNUM between #{startRow} and #{endRow}
		</if>
		
	</select>
	<select id="findYear" resultType="_int">
		select
		DISTINCT  EXTRACT(year FROM LR_START_DATE)
		from lecture_registration
		order by EXTRACT(year FROM LR_START_DATE) desc
	</select>
	<select id="getListCount" resultType="_int" parameterType="com.kh.khculture.lecture.model.vo.Search">
		select 
		count(*) 
		from lecture_registration
		join lecture using (l_no)
		join instructor using (instructor_no)
		where lr_status = 'N'
		<if test="category != ''">
			and lc_no = #{category}
		</if>
		<if test="target != ''">
			and lt_no = #{target}
		</if>
		<if test="year != ''">
			and EXTRACT(year FROM LR_START_DATE) = #{year}
		</if>
		<if test="month != ''">
			and EXTRACT(month FROM LR_START_DATE) = #{month}
		</if>
		<if test="day != ''">
			and lr_day = #{day}
		</if>
		<if test="typing != ''">
			and (replace(l_title, ' ', '') LIKE '%' || #{typing} || '%'
			or instructor_name LIKE '%' || #{typing} || '%'
			)
		</if>
		<if test="time != ''">
			and substr(lr_start_time, 1, instr(lr_start_time, ':')-1) = #{time}
		</if>
		<choose>
			<when test="status == '접수 중'">
				and (lr_capacity > lr_count
				and #{today} >= lr_start_date - 30
				and lr_start_date > #{today}
				)
			</when>
			<when test="status == '접수 예정'">
				and lr_start_date - 30 > #{today}
			</when>
			<when test="status == '접수 마감'">
				and (#{today} >= lr_start_date
				or lr_capacity = lr_count
				)
			</when>
		</choose>
		<choose>
			<when test="arrayStand == 'date'">
			order by lr_start_date desc
			</when>
			<when test="arrayStand == 'lowPrice'">
			order by lr_Fee
			</when>
			<when test="arrayStand == 'highPrice'">
			order by lr_Fee desc
			</when>
		</choose>
	</select>
</mapper>