.memberList {
	width: 1320px;
	min-height: 875px;
	margin: auto;
}
.searchContainer {
	background-color: #E4E7EB;
}
.searchContainer .searchTbl {
	width: 100%;
	padding: 20px;
}
.searchContainer .searchTbl [type=text] {
	line-height: 37px;
	width: 40%;
	background-color: #E4E7EB;
	border: none;
	border-bottom: 2px solid var(--main-color);
}
.searchContainer img {
	width: 20px;
}
.searchContainer tr:last-child td:first-child {
	padding-left: 20px;
}
.searchContainer tr:last-child td:last-child {
	display: flex;
	justify-content: right;	
}
.searchContainer [type=submit]{
	width: 120px;
	height: 50px;
	font-size: 20px;
	background-color: var(--main-color);
	color: white;
	border: none;
} 
.memberList .memberContainer {
	width : 100%;
	padding : 40px 30px 0 30px;
	display: flex;
	justify-content: space-between;
}

.searchForm .memberRoleSel {
	width: 120px;
	height: 29px;
	font-size: 15px;
	border: 1px solid var(--main-color);
}

.memberList .memberTblContainer {
	width: 100%;
	height: 535px;
	padding: 10px 0 20px 0;
}

.memberListTbl {
	width: 100%;
}
.memberListTbl #id,
.memberListTbl #name,
.memberListTbl #accLockYN,
.memberListTbl #accSecessionYN,
.memberListTbl #authority {
	width: 7%;
}
.memberListTbl #email {
	width: 16%;
}
.memberListTbl #phone,
.memberListTbl #enrollDate,
.memberListTbl #accSecessionDate {
	width: 12%;
}

.memberListTbl th,
.memberListTbl td {
	padding: 10px 10px;
}
.memberListTbl th {
	background-color: #FEF0A7;
}
.memberListTbl {
    background: #fff;
    /* border-bottom: solid 1px #AEAEAE; */
    border-collapse: collapse;
}
.memberListTbl tr {
	border-bottom: 1px solid lightgray;
}
.memberListTbl tr:nth-child(1) {
	border-bottom: 2px solid gray;	
}

.memberListTbl td {
	text-align: center;
	overflow: hidden;
	text-overflow: ellipsis;
}



/* 페이징바 */

.pagingDiv a {
    word-break: break-all;
}

.pagingDiv .member_paging {
    line-height: 50px;
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0 auto;
    padding-bottom: 20px;
	border-top: none;
	    
    margin-bottom : 100px;
}

.pagingDiv .member_paging a{
    text-decoration: none;
    color: #282A35;
    width: 40px;
    display: block;
    text-align: center;
}

.pagingDiv .member_paging a.current_page{
border-bottom: 2px solid #282A35;
    font-weight: bold;
}