/* =================================================== header =========================== 
#header .headerArea {
    width: 1000px;
    margin: 0 auto;
    padding: 36px 90px 0;
    height: 95px;
    position: relative;
    background-color: antiquewhite;
}
.headerArea{
    display: flex;
}
ul, li{
    display: flex;
    list-style: none;
    margin-left: 100px;
    margin-top: 20px;
}
#header{
    margin-bottom: 100px;
}
*/
/* =================================================== board_List =========================== */
.board_ranking{
    background-color: #F0B95E;
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 10px;
    width: 1500px;
    margin: 0 auto;
}
.board_ranking > #board_ranking_1{
    border: 1px solid rgb(0, 0, 0);
    padding: 10px;
    margin-left: 40px;
}

.board_btn_area{
	width: 1200px; /* 이 폭을 줄이면 세부폭은 알아서 따라옴 */
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 20px 10px;
    margin-top: 10px;
}
#board_list_button{
    width: 100px;
    height: 50px;
    font-size: 17px;
    background-color:#f9dbab;
    
}

.board_search_area{
    width: 1200px; 
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 20px 10px;
    background-color: #F0B95E;
    margin-top: 10px;
    justify-content: center;
    display: flex;
}
.board_search_area span{
	margin-right: 20px;
}
.board_search_area #searchType {
	margin: 0 auto;
	height:50px;
	font-size: 17px;
    background-color:#f9dbab;
}
#board_searchText{
    margin: 0 auto;
    width:500px;
    height:50px;
}


.board_list > .board_select{
    width: 890px;
    text-align: center;
    margin: 0 auto;
    /*background-color: antiquewhite;*/
    display: flex;
    padding-bottom: 15px;
    border-bottom: 1px solid #F0B95E;
    height: 84px;
}
.board_select > span{
    margin-top: 8px;
    margin-left: 20px;
}
#board_comment{
    text-align: left;
    width: 600px;
    font-size: 15px;
    margin-bottom: 10px;
    /*background-color: aquamarine;*/
}
#board_star{
    height: 23px;
}
.board_paging_area{
	width: 890px;
    margin: 0 auto;
    justify-content:space-around;
    display: flex;
}
.board_paging{
	list-style: none;
	display:flex;
	line-height: 50px;
	width: 480px;
}
.board_paging li{
	margin-right:51px;
}
.board_paging a {
	text-decoration: none;
	color: #282A35;
	width: 40px;
	text-align: center;
}
.board_paging a.current_page {
	border-bottom: 2px solid #282A35;
	font-weight: bold;
}


/* =================================================== board_Detail=========================== */
.board_detail_title{
    width: 1200px; /* 이 폭을 줄이면 세부폭은 알아서 따라옴 */
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 20px 10px;
    background-color: #F0B95E;
    display: flex;
}
#board_category2{
    width: 100px;
    padding: 8px 10px;
    border-right: 3px solid black;
   /* background-color: aquamarine;*/
    
}
#board_comment2{
    width: 1000px;
    padding: 8px 10px;
    border-right: 3px solid black;
   /* background-color: aquamarine;*/
    
}
#board_date2{
    width: 150px;
    padding: 8px 10px;
   /* background-color: aquamarine;*/
}
.board_detail_boundary{
    width: 1200px;
    height: 1000px;
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 20px 10px;
    display: flex;
    justify-content: center;
    background-color: antiquewhite;
}
.board_detail_boundary > div{
    margin-right: 60px;
   /* background-color: rgb(181, 185, 173);*/
    text-align: center;
}
#board_heart , #board_star{
    height: 23px;
}
#board_detail_comment{
    width: 800px;
    background-color: rgb(181, 185, 173);
}
.board_detail_button{
    width: 1200px; /* 이 폭을 줄이면 세부폭은 알아서 따라옴 */
    margin: 0 auto;
    margin-bottom: 10px;
    /*background-color: cadetblue;*/
}
#board_button{
    width: 100px;
    height: 50px;
    font-size: 17px;
    background-color:#f9dbab;
    
}
.board_detail_reply{
    width: 1000px; /* 이 폭을 줄이면 세부폭은 알아서 따라옴 */
    margin: 0 auto;
    margin-bottom: 10px;
    /*background-color: cadetblue;*/
}
.board_reply_select{
    display: flex;
    padding: 8px 10px;
    border-bottom: 1px solid #F0B95E;
}
#reply_name{ 
    border-right: 2px solid black;
    padding: 8px 20px;
}
#reply_comment2{
    width: 700px;
    border-right: 2px solid black;
    padding: 8px 10px;
    background-color: antiquewhite;
}
#reply_date{
    padding: 8px 10px;
    margin-right: 15px;
}

.board_detail_reply_insert{
    display: flex;
    justify-content: space-evenly;
    padding: 8px 10px;

}
#board_reply_insert{
    width: 770px;
    border: 1px solid orangered;
    margin-right: 15px;
} 


/* =================================================== board_Insert =========================== */
.board_insert_boundary{
    width: 1000px; /* 이 폭을 줄이면 세부폭은 알아서 따라옴 */
    margin: 0 auto;
    margin-bottom: 10px;
    background-color: antiquewhite;
}
#Lname , #Ltitle ,#Limage ,#Lcomment{
    padding: 8px 10px;
    border-bottom: 1px solid black;
}
#Lname2 , #Ltitle2 ,#Limage2 ,#Lcomment2{
    padding: 10px;
}
#board_star{
    height: 23px;
}
#board_insert3{
    width: 710px;
    margin-right: 10px;
}
#board_insert{
    width: 800px;
}
#board_insert2{
    width: 99%;
}

/* =================================================== board_Update =========================== */
.board_Update_boundary{
    width: 1000px; /* 이 폭을 줄이면 세부폭은 알아서 따라옴 */
    margin: 0 auto;
    margin-bottom: 10px;
    background-color: antiquewhite;
}
#Lname , #Ltitle ,#Limage ,#Lcomment{
    padding: 8px 10px;
    border-bottom: 1px solid black;
}
#Lname2 , #Ltitle2 ,#Limage2 ,#Lcomment2{
    padding: 10px;
}
#board_star{
    height: 23px;
}
#board_Update3{
    width: 710px;
    margin-right: 10px;
}
#board_Update{
    width: 800px;
}
#board_Update2{
    width: 99%;
}
