/* =================================================== memberModify =========================== */
/* .Modify_boundery {
    width: 1320px; 이 폭을 줄이면 세부폭은 알아서 따라옴
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 20px 10px 20px;
    display: flex;
    background-color: bisque;
} */
.modifyForm,
.confirmPwd {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.ModifyTable,
.confirmPwdTbl {
    width: 650px;
    background: #fff;
    border: solid 1px #AEAEAE;
    border-collapse: collapse;
}
.ModifyTable tr,
.ModifyTable td,
.confirmPwdTbl tr,
.confirmPwdTbl td {
    border: 1px solid #AEAEAE;
    padding : 10px 0 10px 10px;
}
.ModifyTable th,
.confirmPwdTbl th {
	width: 120px;
    background-color: lightgray;
}
input[type=text],
input[type=password] {
    width: 350px;
    line-height: 30px;
    border: none;
    font-size: 14px;
}
.ModifyTable span,
.confirmPwdTbl span {
    display: flex;
    align-items: center;
    padding: 5px 0;
}
.ModifyTable button,
.ModifyTable input[type=button] {
	height: 35px;
    width: 120px;
    border-style: none;
    margin-right: 15px;
    color: #fff;
    background-color: var(--main-color);
    cursor: pointer;
}
.confirmPwdTbl input[type=submit] {
	height: 35px;
    width: 120px;
    border-style: none;
    margin-right: 15px;
    color: #fff;
    background-color: var(--main-color);
    cursor: pointer;
}
.Modify_button {
    width: 648px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    border-style: none;
}
#postcodify_search_button ,
#sendAuth {
    width: 120px;
    height: 35px;
}
select#hintNo {
	width: 300px;
	height: 30px;
}

.Modify_button [type=button] {
    border-style: none;
    width: 200px;
    height: 50px;
    margin-bottom: 56px;
    cursor: pointer;
}

.Modify_button .cancel{
    font-size: 20px;
    color: white;
    background-color: #6A6A6A;
}
.Modify_button .accUpdate{
    font-size: 20px;
    color: #fff;
    background-color: #F0B95E;
}
.Modify_button .accSecession{
    font-size: 20px;
    color: white;
    background-color:crimson;
}

#pwdVerify {
	font-size: 12px;
	display: block;
	height: 15px;
	padding: 0;
}