/* =================================================== header =========================== */
#header .headerArea {
    width: 1000px;
    margin: 0 auto;
    padding: 36px 90px 0;
    height: 95px;
    position: relative;
    /*background-color: antiquewhite;*/
}
.headerArea{
    display: flex;
}
ul, li{
    display: flex;
    list-style: none;
    margin-left: 100px;
    margin-top: 20px;
}
/*
#header{
    margin-bottom: 100px;
}
*/
/* =================================================== mypageMain =========================== */

/* =================================================== myRiewList =========================== */

/* ================================================================= */
















