<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>main</title>

<!-- css -->
<link rel="stylesheet" type="text/css" href="/css/main/main.css">
<link rel="stylesheet" type="text/css" href="/css/main/lectureList.css">
<link rel="stylesheet" type="text/css" href="/css/main/recommendList.css">

<!-- bxslider -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>

<!-- icon -->
<script src="https://kit.fontawesome.com/1be9c91961.js" crossorigin="anonymous"></script>
<!-- jQuery -->
<!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"
		integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
     	crossorigin="anonymous"></script> -->
</head>
<header th:include="fragments/header.html"></header>
<body>
<article id="mainArea">
	<div id="slideBox">
		<!-- 이미지 리스트 출력 -->
		<ul class="slider">
			<li th:each="mainImage : ${mainImages}"><a th:href="@{/notice/detail.do?n_no={refNo}(refNo=${mainImage.refNo})}">
				<img th:src="@{/images/main/slide/{filename}(filename=${mainImage.miRename})}"></a></li>
		</ul>
	</div>
	
	<!-- 강좌검색 -->
	<div class="listSearchContainer">
      <div class="searchContainer">
        <div class="categorySearch">
          <p>강좌 분류</p>
          <div class="sel sel--black-panther selectDiv">
            <select id="select-profession">
              <option value="" disabled>강좌 분류</option>
              <option value="전체">전체</option>
              <option value="정기강좌">정기강좌</option>
              <option value="단기강좌">단기강좌</option>
              <option value="무료강좌">무료강좌</option>
            </select>
          </div>
        </div>
        <div class="targetSearch">
          <p>강좌 대상</p>
          <div class="sel sel--black-panther selectDiv">
            <select id="select-profession">
              <option value="" disabled>강좌 대상</option>
              <option value="전체">전체</option>
              <option value="성인강좌">성인강좌</option>
              <option value="아동강좌">아동강좌</option>
              <option value="영유아강좌">영유아강좌</option>
            </select>
          </div>
        </div>
        <div class="registStatus">
          <p>접수 상태</p>
          <div class="sel sel--black-panther selectDiv">
            <select id="select-profession">
                <option value="" disabled>접수 상태</option>
              <option value="전체">전체</option>
              <option value="접수 예정">접수 예정</option>
              <option value="접수 중">접수 중</option>
              <option value="접수 마감">접수 마감</option>
            </select>
          </div>
        </div>
        <div class="yearSearch">
          <p>개강 년도</p>
          <div class="sel sel--black-panther selectDiv">
            <select id="selectYearSearch">
              <option value="" disabled>개강 년도</option>
              <option value="전체">전체</option>
            </select>
          </div>
        </div>
        <div class="monthSearch">
          <p>개강 월</p>
          <div class="sel sel--black-panther selectDiv">
            <select id="searchMonth">
              <option value="" disabled>개강 월</option>
              <option value="">전체</option>
              <option value="1">1월</option>
              <option value="2">2월</option>
              <option value="3">3월</option>
              <option value="4">4월</option>
              <option value="5">5월</option>
              <option value="6">6월</option>
              <option value="7">7월</option>
              <option value="8">8월</option>
              <option value="9">9월</option>
              <option value="10">10월</option>
              <option value="11">11월</option>
              <option value="12">12월</option>
            </select>
          </div>
        </div>
        <div class="daySearch">
          <p>개강 요일</p>
          <div class="sel sel--black-panther selectDiv">
            <select id="searchDay" placeholder="개강 시간">
                <option value="" disabled>개강 요일</option>
                <option value="전체">전체</option>
                <option value="월요일">월요일</option>
                <option value="화요일">화요일</option>
                <option value="수요일">수요일</option>
                <option value="목요일">목요일</option>
                <option value="금요일">금요일</option>
                <option value="토요일">토요일</option>
                <option value="일요일">일요일</option>
            </select>
          </div>
        </div>
        <div class="timeSearch">
          <p>개강 시간</p>
          <div class="sel sel--black-panther selectDiv">
            <select id="select-profession" placeholder="전체">
				<option value="" disabled>개강 시간</option>
				<option value="">전체</option>
				<option value="09~10">9시타임</option>
				<option value="10~11">10시타임</option>
				<option value="11~12">11시타임</option>
				<option value="12~13">12시타임</option>
				<option value="13~14">13시타임</option>
				<option value="14~15">14시타임</option>
				<option value="15~16">15시타임</option>
				<option value="16~17">16시타임</option>
				<option value="17~18">17시타임</option>
				<option value="18~19">18시타임</option>
				<option value="19~20">19시타임</option>
				<option value="20~21">20시타임</option>
            </select>
          </div>
        </div>
        <div class="typingSearch">
          <a><i class="far fa-calendar-alt"></i> 전체 조회 하기</a>
          <div>
            <input type="text" name="typing" id="" placeholder="강좌명/강사명을 입력하세요.">
            <button type="button" id="searchBtn" onclick="searchList();"><i class="fas fa-search"></i></button>
          </div>
        </div>
      </div>
	</div>
	
	<form class="searchForm" th:action="@{/main/search}" method="post">
		<input type="hidden" name="category">
		<input type="hidden" name="target">
		<input type="hidden" name="status">
		<input type="hidden" name="year">
		<input type="hidden" name="month">
		<input type="hidden" name="day">
		<input type="hidden" name="time">
		<input type="hidden" name="typing">
	</form>
	
	<!-- 추천 강좌 -->
	<div class="recommendList">
		<div class="leftDiv listbox">
			<p>추천강좌</p>
			<i class="fas fa-chevron-left fa-4x"></i>
		</div>
		<ul class="recommendClassArea">
			<!-- 추천강좌 목록 : DB 로드 -->
		</ul>
		<div class="rightDiv listbox">
			<i class="fas fa-chevron-right fa-4x"></i>
		</div>
	</div>
	<div class="toggle-box">
		<!-- toggle 필요한 수만큼 생성 -->
	</div>
	
</article>

</body>
<footer th:include="fragments/footer.html"></footer>
<script type="text/javascript" src="/js/main/recommendList.js"></script>
<script type="text/javascript" src="/js/main/imageSlideStyle.js"></script>
<script>
	let category = '';
	let target = '';
	let status = '';
	let year = '';
	let month = '';
	let day = '';
	let time = '';
	let typing = '';
	
/* 검색 바 */
$(function() {
	$.ajax({
		url : "/lecture/year",
		success : function(data) {
			const selectYearDiv = document.querySelector("#selectYearSearch");
			for(let index in data) {
				selectYearDiv.insertAdjacentHTML('beforeend', '<option value="' + data[index] + '">' + data[index] + '</option>');
			}
			
			/* ===== Logic for creating fake Select Boxes ===== */
			$('.sel').each(function() {
			    $(this).children('select').css('display', 'none');
			    
			    var $current = $(this);
			    
			    $(this).find('option').each(function(i) {
			      if (i == 0) {
			        $current.prepend($('<div>', {
			          class: $current.attr('class').replace(/sel/g, 'sel__box')
			        }));
			        
			        var placeholder = $(this).text();
			        $current.prepend($('<span>', {
			          class: $current.attr('class').replace(/sel/g, 'sel__placeholder'),
			          text: placeholder,
			          'data-placeholder': placeholder
			        }));
			        
			        return;
			      }
			      
			      $current.children('div').append($('<span>', {
			        class: $current.attr('class').replace(/sel/g, 'sel__box__options'),
			        text: $(this).text()
			      }));
			    });
			  });
			  
			  // Toggling the `.active` state on the `.sel`.
			  $('.sel').click(function() {
			    $(this).toggleClass('active');
			  });
			  
			  // Toggling the `.selected` state on the options.
			  $('.sel__box__options').click(function() {
			    var txt = $(this).text();
			    var index = $(this).index();
			      
			    $(this).siblings('.sel__box__options').removeClass('selected');
			    $(this).addClass('selected');
			    
			    var $currentSel = $(this).closest('.sel');
			    $currentSel.children('.sel__placeholder').text(txt);
			    $currentSel.children('select').prop('selectedIndex', index + 1);
			  });
		},
		error : function(e) {
			console.log(e);
		}
	})
})

  	
/* 검색 */
function searchList() {
	category = document.querySelector('.listSearchContainer .categorySearch > div > span').innerText;
 	target = document.querySelector('.listSearchContainer .targetSearch > div > span').innerText;
 	status = document.querySelector('.listSearchContainer .registStatus > div > span').innerText;
 	year = document.querySelector('.listSearchContainer .yearSearch > div > span').innerText;
 	month = document.querySelector('.listSearchContainer .monthSearch > div > span').innerText;
	day = document.querySelector('.listSearchContainer .daySearch > div > span').innerText;
 	time = document.querySelector('.listSearchContainer .timeSearch > div > span').innerText;
 	typing = document.querySelector('.listSearchContainer .typingSearch > div > input').value;
 	
 	switch(category) {
	    case '정기강좌' :
	        category = 1;
	        break;
	    case '단기강좌' :
	        category = 2;
	        break;
	    case '무료강좌' :
	        category = 3;
	        break;
	    default : 
	    category = '';
	}
 	
 	switch(target) {
	    case '성인강좌' :
	    target = 1;
	    break;
	    case '아동강좌' :
	    target = 2;
	    break;
	    case '영유아강좌' :
	        target = 3;
	        break;
	    default :
	        target = '';
	}
 	
   if(status == '전체' || status == '접수 상태') {
       status = '';
   }

   if(year == '전체' || year == '개강 년도') {
       year = '';
   }

   if(month =='전체' || month =='개강 월') {
       month = '';
   }

   if(day == '전체' || day == '개강 요일') {
       day = '';
   }

   if(time == '전체' || time == '개강 시간') {
       time = '';
   }
	
   
   if(month != '') {
	   month = month.substr(0, month.indexOf("월"));
   }
   if(time != '') {
	   time = time.substr(0, time.indexOf("시"));
   }
   
	document.querySelector("[name=category]").value = category;
	document.querySelector("[name=target]").value = target;
	document.querySelector("[name=status]").value = status;
	document.querySelector("[name=year]").value = year;
	document.querySelector("[name=month]").value = month;
	document.querySelector("[name=day]").value = day;
	document.querySelector("[name=time]").value = time;
	document.querySelector("[name=typing]").value = typing;
	
	console.log(category);
	submitSearchForm();
}

function submitSearchForm(){
   
	$(".searchForm").submit();
}
</script>
</html>