:root {
    --main-color : #F0B95E;
    --active-btn-color : #F0B95E;
    --inactive-btn-color : #6A6A6A;
    --btn-font-color : white;
    --main-border-color : #EFEFEF;
    --main-font-color : #4E4E4E;
}
#titleArea {
    margin-top: 60px;
}
#resultArea>p {
    margin: 20px 0;
}
#titleArea::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: var(--main-font-color);
    margin: 40px 0;
}
#resultArea,
#emailAuth>div,
#emailAuth>table {
    width: 500px;
    margin: auto;
}
#idResult {
    width: 100%;
    height: 30px;
    background-color: var(--main-border-color);
    border: none;
    text-align: center;
}
form#emailAuth::before {
    content: "";
    display: block;
    width: 100%;
    height: 0.5px;
    background-color: var(--main-font-color);
    margin-bottom: 20px;
}
#emailAuthTbl td {
    align-items: center;
    height: 45px;
}
#btnArea {
    display: flex;
    justify-content: center;
}
#emailAuthTbl input[type=button] {
    width: 180px;
    height: 40px;
    border: none;
    border-radius: 0;
    font-size: 18px;
    color: white;
    background-color: var(--inactive-btn-color);
}
div#emailResult,
#fullIdResult {
    width: 300px;
    height: 36px;
    background-color: var(--main-border-color);
    display: flex;
    justify-content: center;
    align-items: center;
}
#fullIdResult {
    margin-top: 30px;
}
#emailAuthTbl input[type=text] {
    width: 292px;
    height: 30px;
    padding: none;
    text-align: center;
}
#btnArea>button {
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 0;
    font-size: 20px;
    color: white;
    margin-top: 30px;
    background-color: var(--inactive-btn-color);
}
#pwdDblChk {
	font-size: 12px;
	display: block;
	height: 15px;
	padding: 0;
}