:root {
    --main-color : #F0B95E;
    --active-btn-color : #F0B95E;
    --inactive-btn-color : #6A6A6A;
    --btn-font-color : white;
    --main-border-color : lightgray;
    --main-font-color : #4E4E4E;
}
#signUpForm {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    /* background-color: lightgreen; 테스트용 */
}
#signUpForm h1 {
    font-size: 48px;
}
#signUpForm div>p {
    font-size: 20px;
    margin: 0;
}
#signUpForm div {
    margin-bottom: 20px;
}
.signUpTable {
    width: 650px;
    background: #fff;
    border: solid 1px #AEAEAE;
    border-collapse: collapse;
}
.signUpTable tr, 
.signUpTable td {
    border: 1px solid #AEAEAE;
    padding : 10px 0 10px 10px;
}
td>input[type=text],
td>input[type=password] {
    width: 350px;
    line-height: 30px;
    border: none;
    font-size: 14px;
}
#sendAuth,
#postcodify_search_button {
	background-color: var(--active-btn-color);
}
.signUpTable button {
    height: 35px;
    width: 120px;
    border-style: none;
    margin-right: 15px;
    color: #fff;
    background-color: var(--inactive-btn-color);
}
.signUpTable tr > th{
    background-color: lightgray;
}
.signUpTable ul,
.signUpTable li {
    list-style: none;
    padding: 0;
}
.signUpTable input[type=checkbox] {
    width: 18px;
    height: 18px;
    cursor: pointer;
    margin-right: 10px;
}
.signUpTable span {
    display: flex;
    align-items: center;
    padding: 5px 0;
}
.btnArea {
    display: flex;
    justify-content: center;
}
.btnArea>button {
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 0;
    font-size: 20px;
    color: white;
    background-color: #6A6A6A;
    margin-top: 20px;
}
.btnArea>button:first-child {
    margin-right: 20px;
}

#idVerify,
#pwdVerify,
#pwdDblChk,
#nameVerify,
#emailVerify,
#hintAVerify {
	font-size: 12px;
	display: block;
	height: 15px;
	padding: 0;
}
select#hintNo {
	width: 300px;
	height: 30px;
}